<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('WasteManagement')"/>
<body>
<div th:replace="partials :: myNav"></div>
<div class="container">

    <!--<h2>View Profiles / Edit Permissions</h2>-->
    <!--<hr/>-->
    <h1 class="text-center mt-3">View Profiles / Edit Permissions</h1>
    <hr/>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active show" data-toggle="tab" href="#allUsers">All Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#admins">Administrators</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#employees">Employees</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#customers">Customers</a>
        </li>
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show mt-4" id="allUsers">
            <table class="table table-hover">
                <tr class="table-primary">
                    <th scope="col">User Id</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                </tr>
                <tr style="font-size:15px" th:each="eachuser : ${allUsers}">
                    <td scope="row" th:text="${eachuser.id}"></td>
                    <td th:text="${eachuser.username}"></td>
                    <td th:text="${eachuser.email}"></td>
                    <td th:text="${eachuser.firstName} + ' ' + ${eachuser.lastName}"></td>
                    <td><a th:href="@{/admin/view-profile/{id}(id=${eachuser.id})}">View Profile</a></td>
                </tr>
            </table>
        </div>
        <div class="tab-pane fade mt-4" id="admins">
            <table class="table table-hover">
                <tr class="table-primary">
                    <th scope="col">User Id</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Name</th>
                    <th scope="col">Update Role</th>
                    <th scope="col"></th>
                </tr>
                <tr style="font-size:15px" th:each="admin : ${admins}">
                    <td scope="row" th:text="${admin.id}"></td>
                    <td th:text="${admin.username}"></td>
                    <td th:text="${admin.email}"></td>
                    <td th:text="${admin.firstName} + ' ' + ${admin.lastName}"></td>
                    <td>
                        <form class="form-inline" th:action="@{/admin/update-perms/{id}(id=${admin.id})}" method="POST">
                            <div class="form-group input-group-sm">
                                <select class="custom-select" name="roleselected">
                                    <option value="ROLE_ADMIN">Administrator</option>
                                    <option value="ROLE_EDITOR">Employee</option>
                                    <option value="ROLE_USER">Customer</option>
                                </select>
                                <input type="submit" class="btn btn-danger active in ml-2" placeholder="Update" value="Edit"/>
                            </div>
                            <input type="hidden" class="btn active" th:value="${admin.id}" />
                        </form>
                    </td>
                    <td><a th:href="@{/admin/view-profile/{id}(id=${admin.id})}">View Profile</a></td>
                </tr>
            </table>
        </div>
        <div class="tab-pane fade mt-4" id="employees">
            <table class="table table-hover">
                <tr class="table-primary">
                    <th scope="col">User Id</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Name</th>
                    <th scope="col">Update Role</th>
                    <th scope="col"></th>
                </tr>
                <tr style="font-size:15px" th:each="emp : ${employees}">
                    <td scope="row" th:text="${emp.id}"></td>
                    <td th:text="${emp.username}"></td>
                    <td th:text="${emp.email}"></td>
                    <td th:text="${emp.firstName} + ' ' + ${emp.lastName}"></td>
                    <td>
                        <form class="form-inline" th:action="@{/admin/update-perms/{id}(id=${emp.id})}" method="POST">
                            <div class="form-group input-group-sm">
                                <select class="custom-select" name="roleselected">
                                    <option value="ROLE_EDITOR">Employee</option>
                                    <option value="ROLE_ADMIN">Administrator</option>
                                    <option value="ROLE_USER">Customer</option>
                                </select>
                                <input type="submit" class="btn btn-danger active in ml-2" placeholder="Update" value="Edit"/>
                            </div>
                            <input type="hidden" class="btn active" th:value="${emp.id}" />
                        </form>
                    </td>
                    <td><a th:href="@{/admin/view-profile/{id}(id=${emp.id})}">View Profile</a></td>
                </tr>
            </table>
        </div>

        <div class="tab-pane fade mt-4" id="customers">
            <table class="table table-hover">
                <tr class="table-primary">
                    <th scope="col">User Id</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Name</th>
                    <th scope="col">Update Role</th>
                    <th scope="col"></th>
                </tr>
                <tr style="font-size:15px" th:each="customer : ${customers}">
                    <td scope="row" th:text="${customer.id}"></td>
                    <td th:text="${customer.username}"></td>
                    <td th:text="${customer.email}"></td>
                    <td th:text="${customer.firstName} + ' ' + ${customer.lastName}"></td>
                    <td>
                        <form class="form-inline" th:action="@{/admin/update-perms/{id}(id=${customer.id})}" method="POST">
                            <div class="form-group input-group-sm">
                                <select class="custom-select" name="roleselected">
                                    <option value="ROLE_USER">Customer</option>
                                    <option value="ROLE_EDITOR">Employee</option>
                                    <option value="ROLE_ADMIN">Administrator</option>
                                </select>
                            <input type="submit" class="btn btn-danger active in ml-2" placeholder="Update" value="Edit"/>
                            </div>
                            <input type="hidden" class="btn active" th:value="${customer.id}" />
                        </form>
                    </td>
                    <td><a th:href="@{/admin/view-profile/{id}(id=${customer.id})}">View Profile</a></td>
                </tr>
            </table>
        </div>


    </div>
</div>
    <th:block th:replace="partials :: scripts"/>
</body>
</html>

