<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head('Inventory')">
    <!--<meta charset="UTF-8"/>-->
    <!--<title>Title</title>-->
</head>
<body>
<div class="container">
<div th:replace="fragments/navbar :: myNav"></div>

<div class="card">
    <form th:class="card-body" th:action="@{/inventory/create}" th:method="post" th:object="${inventory}">
        <div th:class="form-group">
            <label th:for="name">Name</label>
            <input th:type="text" th:class="form-control" th:field="*{name}" th:placeholder="Name"/>

            <label th:for="size">Size</label>
            <input th:type="text" th:class="form-control" th:placeholder="Size" th:field="*{size}" />

            <label th:for="price">Price</label>
            <input th:type="text" th:class="form-control" th:placeholder="Price" th:field="*{price}" />

            <label th:for="Quantity">Quantity</label>
            <input th:type="text" th:class="form-control" th:placeholder="Quantity" th:field="*{quantity}" />

            <br/>
            <input type="submit" value="Create" />

        </div>

    </form>
</div>

<div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>