<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('WasteManagement')" />

<body>
<div th:replace="partials :: myNav"></div>
<div class="container">
    <h1 class="text-center mt-3" style="padding-bottom:2rem;padding-top:3rem">Inventory List</h1>
    <hr/>
        <button class="btn btn-success mb-3" th:name="create" th:type="submit" th:value="Create"><a class="link text-light" th:href="@{'/inventory/create'}">Create New Item</a></button>

    <table class="table table-striped border">
        <thead>
            <tr>
                <th scope="col" class="">Name</th>
                <th scope="col">Size</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity Available</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody th:action="@{/inventory}" th:method="post" th:object="${inventory}">
            <tr th:each="item : ${inventory}">
                <th scope="row" th:text="${item.name}"></th>
                <td th:text="${item.size}"></td>

                <!--the #numbers method inside curly braces in thymeleaf takes the item price with minimum integers before decimal and exact decimal places-->

                <td th:text="'$'+ ${#numbers.formatDecimal(item.price,1,2)}"></td>
                <td th:text="${item.quantity}"></td>
                <td class="">
                    <!--<button class="link btn btn-warning col-2" th:name="edit" th:type="submit" th:value="Edit"><a class="link text-light" th:href="@{'/inventory/' + ${item.id} + '/edit'}">EDIT</a></button>-->
                    <form th:action="@{'/inventory/' + ${item.id} + '/edit'}" method="get" th:object="${inventory}" class="col p-0 my-1">
                        <!--<input type="hidden" name="_method" value="get" />-->
                        <button type="submit" class="link btn btn-danger text-light px-3" th:method="get">EDIT</button>
                    </form>
                </td>
                <td>
                    <input type="hidden" id="itemId" th:value="${item.id}"/>
                    <form onsubmit="return confirm('Do you really want to delete this item?');" th:action="@{'/inventory/{id}/delete' (id=${item.id})}" method="get" th:object="${inventory}" class="col p-0 my-1">
                        <input type="hidden" name="_method" value="delete" />
                        <button type="submit" class="link btn btn-dark text-light px-2" th:method="delete">DELETE</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<th:block th:replace="partials :: scripts" />
</body>
</html>