<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head></head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="myNav">
    <a class="navbar-brand" href="#">4am Thoughts</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <th:block th:text="${'Welcome, ' + #authentication.principal.username}"/>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a href="/login" class="btn btn-success">Login</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" th:method="post">
                    <button class="btn">Logout</button>
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>
    <!--<nav class="navbar navbar-expand-lg navbar-dark bg-primary">-->
        <!--<a class="navbar-brand" href="#">Navbar</a>-->
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">-->
            <!--<span class="navbar-toggler-icon"></span>-->
        <!--</button>-->

        <!--<div class="collapse navbar-collapse" id="navbarColor01">-->
            <!--<ul class="navbar-nav mr-auto">-->
                <!--<li class="nav-item active">-->
                    <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#">Features</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#">Pricing</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#">About</a>-->
                <!--</li>-->
            <!--</ul>-->
            <!--<form class="form-inline my-2 my-lg-0">-->
                <!--<input class="form-control mr-sm-2" type="text" placeholder="Search">-->
                <!--<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>-->
            <!--</form>-->
        <!--</div>-->
    <!--</nav>-->
    <!--<div>-->
        <!--<form th:action="@{/workorders/index}" th:method="get" th:object="${post}">-->
            <!--<input th:field="*{title}"/>-->
            <!--<input type="submit" />-->
        <!--</form>-->
    <!--</div>-->

</nav>

</body>
</html>