<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('WasteManagement')" />
<body>
<div th:replace="partials :: myNav"></div>
<div class="container">

    <!--<h1>Edit Your Account</h1>-->
    <h1 class="text-center" style="padding-bottom:2rem;padding-top:1rem">Edit Your Account</h1>
    <hr/>
    <form th:action="@{/users/edit/{id}(id=${updatedUser.id})}" method="POST" th:object="${updatedUser}">
        <div class="form-group">
            <label for="username">Username</label>
            <input id="username" class="form-control w-50" th:field="*{username}" th:placeholder="${updatedUser.username}" />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" class="form-control w-50" th:field="*{email}" th:placeholder="${updatedUser.email}" />
        </div>
        <!--<div class="form-group">-->
            <!--<label for="password">Password</label>-->
            <!--<input id="password" class="form-control w-50" type="password" th:field="*{password}" placeholder="*** enter password ***" />-->
        <!--</div>-->
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input id="firstname" class="form-control w-50" type="text" th:field="*{firstName}" th:placeholder="${updatedUser.firstName}" />
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input id="lastname" class="form-control w-50" type="text" th:field="*{lastName}" th:placeholder="${updatedUser.lastName}" />
        </div>
        <div class="form-group">
            <label for="streetNumber">Street Number</label>
            <input id="streetNumber" class="form-control w-50" type="number" th:field="*{streetNumber}" th:placeholder="${updatedUser.streetNumber}" />
        </div>
        <div class="form-group">
            <label for="streetName">Street Name</label>
            <input id="streetName"  class="form-control w-50" type="text" th:field="*{streetName}" th:placeholder="${updatedUser.streetName}"/>
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input id="city" class="form-control w-50" type="text" th:field="*{city}" th:placeholder="${updatedUser.city}" />
        </div>
        <div class="form-group">
            <label for="zipcode">Zipcode</label>
            <input id="zipcode" class="form-control w-50" type="number" th:field="*{zipcode}" th:placeholder="${updatedUser.zipcode}" />
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input id="phoneNumber" class="form-control w-50" type="text" th:field="*{phoneNumber}" th:placeholder="${updatedUser.lastName}" />
        </div>
        <div class="form-group">
            <button class="btn btn-danger" type="submit">UPDATE CHANGES</button>
        </div>
    </form>
</div>
<th:block th:replace="partials :: scripts" />
</body>
</html>