<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('WasteManagement')" />
<body>
    <div th:replace="partials :: myNav"></div>
    <div class="page_background">
    <div class="container">
        <div class="card p-4" style="height:1000px">
        <!--<h1 class="mt-4">Welcome to the WasteManagement Tracking System</h1>-->
        <h1 class="text-center" style="padding-bottom:1rem;padding-top:3rem">Welcome to the WasteManagement Tracking System</h1>
        <hr/>
        <div class="my-3" th:if="${param.error}">
            Invalid Username and Password.
        </div>
        <div class="my-3" th:if="${param.logout}">
            You have been logged out.
        </div>

<form th:action="@{/login}" th:method="post">
    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control w-50" id="username" name="username" type="text" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control w-50" id="password" name="password" type="password" />
        <p style="color: #2f1530; font-size: small; font-style: italic; text-underline: black "><a href="/users/forgot">Forgot Password?</a></p>
    </div>
    <input type="submit" class="btn btn-darkRed" value="Log In" />
</form>

</div>
<th:block th:replace="partials :: scripts" />
    </div>
    </div>
</body>
</html>