<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head('Register')"></head>
<body>
<div class="container">
    <div th:replace="fragments/navbar :: myNav"></div>

    <h1>Create an account</h1>
<form th:action="@{/sign-up}" method="POST" th:object="${user}">
    <div class="form-group">
    <label for="username">Username</label>
    <input id="username" th:field="*{username}" />
    </div>
    <div class="form-group">
    <label for="email">Email</label>
    <input id="email" th:field="*{email}" />
    </div>
    <div class="form-group">
    <label for="password">Password</label>
    <input id="password" type="password" th:field="*{password}" />
    </div>
    <div class="form-group">
    <label for="firstname">First Name</label>
    <input id="firstname" type="text" th:field="*{firstName}" />
    </div>
    <div class="form-group">
    <label for="lastname">Last Name</label>
    <input id="lastname" type="text" th:field="*{lastName}" />
    </div>
    <div class="form-group">
    <label for="streetNumber">Street Number</label>
    <input id="streetNumber" type="number" th:field="*{streetNumber}" />
    </div>
    <div class="form-group">
    <label for="streetName">Street Name</label>
    <input id="streetName" type="text" th:field="*{streetName}" />
    </div>
    <div class="form-group">
    <label for="city">City</label>
    <input id="city" type="text" th:field="*{city}" />
    </div>
    <div class="form-group">
    <label for="zipcode">Zipcode</label>
    <input id="zipcode" type="number" th:field="*{zipcode}" />
    </div>
    <div class="form-group">
    <label for="phoneNumber">Phone Number</label>
    <input id="phoneNumber" type="text" th:field="*{phoneNumber}" />
    </div>
    <div class="form-group">
    <input value="Sign me up!" type="submit" />
    </div>
</form>
</div>
</body>
</html>