<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('WasteManagement')" />
<body>
<div th:replace="partials :: myNav"></div>
<div class="container">
    
    <div class="row">
        <div class="col-sm-3" id="dev1">
            <h4>Alois Renggli</h4>
            <img th:src="@{static/images/AloisRenggli.jpg}" />
        </div>
        <div class="col-sm-3" id="dev2">
            <h4>Ryan Schmid</h4>
            <img th:src="@{static/images/RyanSchmid.jpg}" />
        </div>
        <div class="col-sm-3" id="dev3">
            <h4>Ryan Stewart</h4>
            <img th:src="@{static/images/RyanStewart.jpg}" />
        </div>
        <div class="col-sm-3" id="dev4">
            <h4>James Young</h4>
            <img th:src="@{static/images/JamesYoung.jpg}" />
        </div>
    </div>
    
</div>
<th:block th:replace="partials :: scripts" />
</body>
</html>