<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('WasteManagement')"/>
<body>
<div th:replace="partials :: myNav"></div>
<div class="container">

    <h1 class="text-center my-3">Contact Page</h1>
    <hr/>
    <!--<div class="">-->
        <div class="row mt-3 justify-content-center">
            <div class="card m-1 p-2 border text-center">
                <h3>Contact Information</h3>
                <div id="request-service3">
                    <p>
                        <strong>Physical Address</strong><br/>
                        City Hall 100 Military Plaza<br/>
                        San Antonio, TX 78205
                    </p>
                    <p>
                        <strong>Mailing Address</strong><br/>
                        PO Box 839966 <br/>
                        San Antonio, Texas 78283 <br/>
                        Office Line: 210.207.6000
                    </p>
                    <p>
                        <strong>Media Contact</strong><br/>
                        Office Line: 210.207.7234
                    </p>
                </div>
            </div>
            <div class="card m-1 p-2 border">
                <h3 class="text-center">Customer Service</h3>
                <div id="request-service2">
                    <p class="text-center">
                        <strong>Call Center</strong> <br/>
                        City Information: 210.207.6000<br/>
                        To report a complaint or request a service: <br/>
                        Dial 311 or 210.207.6000 <br/>
                        <br/>
                        TTY use Texas Relay by dialing 7-1-1 or <br/>
                        1-800-RELAY TX (210.735.2989)<br/>
                    <br />
                        <p><a href="http://311.sanantonio.gov" title="Request a City Service Online">
                        Request a City Service Online
                        </a></p>
                    </p>
                </div>
            </div>
    <!--</div>-->
    <!--<div class="row justify-content-center">-->
        <div class=" card m-1 p-2 border">
            <h4>Contact Our Team!</h4>
            <form th:action="@{/contact}" method="post">
                <div class="form-group">
                    <label for="mess">Your Message:</label>
                    <textarea class="form-control" rows="10" cols="70" id="mess" name="mess" type="text"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-darkRed" type="submit">Submit</button>
                </div>
            </form>
        </div>
        </div>
    <!--</div>-->
</div>
<footer>
    <p class="text-center">*** This is a Codeup student web application, not a City of San Antonio Webpage ***</p>
    <p class="text-center">*Learn more about our project <a th:href="@{/about}">here</a>!*</p>
</footer>
<th:block th:replace="partials :: scripts"/>

</body>
</html>