<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head(title)">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.simplex.min.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" th:fragment="myNav">
    <a class="navbar-brand" href="#">WasteManagement</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link" href="/inventory">Inventory</a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link" href="/workorders">Work Orders</a>
            </li>
            <li sec:authorize="hasRole('ROLE_EDITOR')">
                <a class="nav-link" href="/workorders">Work Orders</a>
            </li>
            <li sec:authorize="hasRole('ROLE_USER')">
                <a class="nav-link" th:href="@{/users/profile}">Profile</a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link" th:href="@{/admin/profile}">Profile</a>
            </li>
            <li sec:authorize="hasRole('ROLE_EDITOR')">
                <a class="nav-link" th:href="@{/emp/profile}">Profile</a>
            </li>
            <li class="nav-item" sec:authorize="!hasRole('ROLE_ADMIN')">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item" sec:authorize="!hasRole('ROLE_ADMIN')">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <input type="submit" id="logout" value="Logout" class="nav-link btn-link hoverCursor border-0" form="logoutForm" />
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a class="nav-link" href="/sign-up">Register</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search"/>
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <form th:action="@{/logout}" method="post" id="logoutForm" class="d-none">
    </form>
</nav>

<th:block th:fragment="scripts">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</th:block>
</body>
</html>