<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head(title)">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.simplex.min.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"/>
    <style>
        p, body{
            font-size: 16px;
        }
        .dark-red{
            background-color: #832d23;
        }
        .btn-darkRed{
            background-color: #832d23 !important;
            color: white;
        }
    </style>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark dark-red" th:fragment="myNav">
    <!--<a class="navbar-brand" href="#">WasteManagement</a>-->
    <span class="navbar-brand p-0">
        <img style="width:80px;height:80px" th:src="@{/img/logo.png}"/>
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link" href="/inventory"><i class="fas fa-trash"></i> Inventory</a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link" href="/workorders"><i class="fas fa-file-alt"></i> Work Orders</a>
            </li>
            <li sec:authorize="hasRole('ROLE_EDITOR')">
                <a class="nav-link" href="/workorders"><i class="fas fa-file-alt"></i> Work Orders</a>
            </li>
            <li sec:authorize="hasRole('ROLE_USER')">
                <a class="nav-link" th:href="@{/users/profile}"><i class="fas fa-user-circle"></i> Profile</a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link" th:href="@{/admin/profile}"><i class="fas fa-user-circle"></i> Profile</a>
            </li>
            <li sec:authorize="hasRole('ROLE_EDITOR')">
                <a class="nav-link" th:href="@{/emp/profile}"><i class="fas fa-user-circle"></i> Profile</a>
            </li>
            <li class="nav-item" sec:authorize="!hasRole('ROLE_ADMIN')">
                <a class="nav-link" href="/contact"><i class="fas fa-file-signature"></i> Contact</a>
            </li>
            <li class="nav-item" sec:authorize="!hasRole('ROLE_ADMIN')">
                <a class="nav-link" href="/about"><i class="fas fa-user-graduate"></i> About</a>
            </li>
            <li class="nav-item" sec:authorize="!hasRole('ROLE_ADMIN')">
                <a class="nav-link" href="/project-info"><i class="fas fa-project-diagram"></i> Project Information</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link" th:href="@{/admin/view-users}"><i class="fas fa-users"></i> Users</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <input type="submit" id="logout" value="Logout" class="nav-link btn-link hoverCursor border-0" form="logoutForm"/>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a class="nav-link" href="/registration?error=false"><i class="fas fa-user-plus"></i> Register</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link" href="/work-order/create"><i class="fas fa-plus"></i> Create A Work Order!</a>
            </li>
        </ul>
        <form sec:authorize="hasRole('ROLE_ADMIN')" class="form-inline my-2 my-lg-0" method="get" action="/workorders/search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" name="searchTerm"/>
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <form th:action="@{/logout}" method="post" id="logoutForm" class="d-none">
    </form>
</nav>

<th:block th:fragment="scripts">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</th:block>
</body>
</html>