<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('WasteManagement')"/>
<body>
<div th:replace="partials :: myNav"></div>
<div class="container">


    <h1 class="my-3 text-center" style="padding-bottom:2rem;padding-top:1rem">Project Information</h1>
    <!--     <h1 class="text-center mt-3">About Page</h1> -->
    <hr/>
    <div class="row mt-3 justify-content-center">
        <!--<div class="card m-1 p-2 border">-->
    <!--<div class="row mt-3">-->
        <!--<div class="col border p-3">-->
            <div class="card m-1 p-2 border">

            <h4 class="text-center mt-2 mb-3"><u><a href="https://github.com/CodeupCapstone-SAWMD/WorkOrderProject"><button class="project">The Project Goal  <i class="fas fa-code-branch"></i></button></a></u></h4>

            <p class="px-3">As Part of <a href="https://www.civtech-sa.com/"><u>Civ Tech San Antonio's</u></a>
                initiative to support public agencies, our group focused on a
                problem set posed by the City's
                <a href="https://www.sanantonio.gov/swmd"><u>Solid Waste Management Department (SWMD)</u></a> :
            </p>
            <p class="px-3">"Waste management is one of the most pressing needs within a
                rapidly growing city, and as San Antonio’s population on the rise,
                the Solid Waste Management Department (SWMD) needs an agile,
                responsive system to appropriately manage those services.
                The SWMD currently has over 1 million different sized carts in circulation,
                and services more than 350,000 households within the San Antonio area. Currently,
                SWMD operates on a paper-based data tracking system, and the City is eager to
                see a solution that has the latitude to revamp SWMD’s warehouse operations in
                three distinct areas: inventory management, work order management,
                and customer communication."
            </p>
        </div>
        <!--<div class="col border p-3">-->
            <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
            <!--<h4><u>Built with:</u></h4>-->
            <!--<ul>-->
                <!--<li>HTML/ CSS: Bootstrap - web framework</li>-->
                <!--<li>Dependency Management: Maven</li>-->
                <!--<li>Server: Apache Tomcat</li>-->
                <!--<li>Database: Apache Tomcat</li>-->
                <!--<li>Java!-->
                    <!--<ul>-->
                        <!--<li>Spring Boot</li>-->
                        <!--<li>Thymeleaf</li>-->
                        <!--<li>Hibernate</li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row border p-3 mb-3">-->
        <div class="card m-1 p-2 border">

        <h4 class="text-center mt-2 mb-3"><u> Acknowledgements</u></h4>
        <p class="px-3">This is a capstone project as part of our <a href="https://codeup.com/"><button class="code-up">Codeup</button></a>
            software development training program. Special thanks to the staff and instructors, most notably
            Fernando Mendoza and Daniel Fryar, for their guidance and assistance. Also, big shoutout to open
            source software for great resources available to developers everywhere!</p>
        </div>
    </div>
</div>

<th:block th:replace="partials :: scripts"/>
</body>
</html>