<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <!--<link rel="stylesheet" th:href="@{/css/bootstrap.simplex.min.css}"/>-->

    <title>Waste Management Registration</title>
    <style>
        .group-width {
            min-width:150px;
        text-align:left;
        }
    </style>
</head>
<body style="background-color: #c73724; margin-top: 3em">
<!--<div th:replace="partials :: myNav"></div>-->

<div class="container bg-light content-justify-center">
    <!--<div class="">-->
        <div class="">
            <div class="panel w-50">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="glyphicon glyphicon-trash" style="font-size:2em;"></i></h3>
                        <h2 class="text-center">Waste Management Registration</h2>
                        <!--<div class="row">-->
                            <div class="">
                                Already registered? <a href="/" th:href="@{/login}">Login</a>
                            </div>
                            <div class="">
                                Forgot password? <a href="/" th:href="@{/forgot-password}">Reset password</a>
                            </div>
                        <!--</div>-->
                        <div class="panel-body">

                            <div th:if="${error}">
                                <div class="alert alert-danger">
                                    The username or email entered is already registered.
                                    Please login or try to register with another username or email.
                                </div>
                            </div>

                            <form th:action="@{/registration}" th:object="${user}" method="post">

                                <p class="error-message text-left col text-danger col"
                                   th:if="${#fields.hasGlobalErrors()}"
                                   th:each="error : ${#fields.errors('global')}"
                                   th:text="${error}">Validation error</p>


                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-user color-blue"></i>
                                        </span>
                                        <span class="input-group-addon group-width">
                                            First Name
                                        </span>
                                        <input id="firstName"
                                               class="form-control"
                                               placeholder="First name"
                                               th:field="*{firstName}"/>
                                    </div>
                                    <p class="error-message text-left col text-danger col"
                                       th:each="error: ${#fields.errors('firstName')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-user color-blue"></i>
                                        </span>
                                        <span class="input-group-addon group-width">
                                            Last Name
                                        </span>
                                        <input id="lastName"
                                               class="form-control"
                                               placeholder="Last name"
                                               th:field="*{lastName}"/>
                                    </div>
                                    <p class="error-message text-left col text-danger col"
                                       th:each="error: ${#fields.errors('lastName')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('userName')}? 'has-error':''">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-home color-blue"></i>
                                        </span>
                                        <span class="input-group-addon group-width">
                                            User Name
                                        </span>
                                        <input id="userName"
                                               class="form-control"
                                               placeholder="Username"
                                               th:field="*{userName}"/>
                                    </div>
                                    <p class="error-message text-left col text-danger col"
                                       th:each="error: ${#fields.errors('userName')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('streetNumber')}? 'has-error':''">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-home color-blue"></i>
                                        </span>
                                        <span class="input-group-addon group-width">
                                            Street Number
                                        </span>
                                        <input id="streetNumber"
                                               class="form-control"
                                               placeholder="Street Number"
                                               th:field="*{streetNumber}"/>
                                    </div>
                                    <p class="error-message text-left col text-danger col"
                                       th:each="error: ${#fields.errors('streetNumber')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('streetName')}? 'has-error':''">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-home color-blue"></i>
                                        </span>
                                        <span class="input-group-addon group-width">
                                            Street Name
                                        </span>
                                        <input id="streetName"
                                               class="form-control"
                                               placeholder="Street Name"
                                               th:field="*{streetName}"/>
                                    </div>
                                    <p class="error-message text-left col text-danger col"
                                       th:each="error: ${#fields.errors('streetName')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('city')}? 'has-error':''">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-home color-blue"></i>
                                        </span>
                                        <span class="input-group-addon group-width">
                                            City
                                        </span>
                                        <input id="city"
                                               class="form-control"
                                               placeholder="City"
                                               th:field="*{city}"/>
                                    </div>
                                    <p class="error-message text-left col text-danger col"
                                       th:each="error: ${#fields.errors('city')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('zipcode')}? 'has-error':''">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-home color-blue"></i>
                                        </span>
                                        <span class="input-group-addon group-width">
                                            Zip Code
                                        </span>
                                        <input id="zipcode"
                                               class="form-control"
                                               placeholder="Zip Code"
                                               th:field="*{zipcode}"/>
                                    </div>
                                    <p class="error-message text-left col text-danger col"
                                       th:each="error: ${#fields.errors('zipcode')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('phoneNumber')}? 'has-error':''">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-phone color-blue"></i>
                                        </span>
                                        <span class="input-group-addon group-width">
                                            Phone Number
                                        </span>
                                        <input id="phoneNumber"
                                               class="form-control"
                                               placeholder="Phone Number"
                                               th:field="*{phoneNumber}"/>
                                    </div>
                                    <p class="error-message text-left col text-danger col"
                                       th:each="error: ${#fields.errors('phoneNumber')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                                    <div class="input-group">
                                        <span class="input-group-addon">@</span>
                                        <span class="input-group-addon group-width">
                                            Email
                                        </span>
                                        <input id="email"
                                               class="form-control"
                                               placeholder="E-mail"
                                               th:field="*{email}"/>
                                    </div>
                                    <p class="error-message text-left col text-danger col"
                                       th:each="error: ${#fields.errors('email')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('confirmEmail')}? 'has-error':''">
                                    <div class="input-group">
                                        <span class="input-group-addon">@</span>
                                        <span class="input-group-addon group-width">
                                            Confirm Email
                                        </span>
                                        <input id="confirmEmail"
                                               class="form-control"
                                               placeholder="Confirm e-mail"
                                               th:field="*{confirmEmail}"/>
                                    </div>
                                    <p class="error-message text-left col text-danger col"
                                       th:each="error: ${#fields.errors('confirmEmail')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-lock"></i>
                                        </span>
                                        <span class="input-group-addon group-width">
                                            Password
                                        </span>
                                        <input id="password"
                                               class="form-control"
                                               placeholder="password"
                                               type="password"
                                               th:field="*{password}"/>
                                    </div>
                                    <div class="form-group container-fluid">
                                        <div class="row">
                                            <ul class="text-left col text-danger col"
                                                th:each="error: ${#fields.errors('password')}" id="passwordErrors">
                                                <li th:each="message : ${error.split(',')}">
                                                <span class="error-message"
                                                      th:text="${message}"></span>
                                                </li>
                                            </ul>
                                            <ol id="passwordCriteria" class="text-left border-dark col">
                                                <li class="font-weight-italic">Password must be 8 or more characters in length.</li>
                                                <li>Password must contain 1 or more uppercase characters.</li>
                                                <li>Password must contain 1 or more lowercase characters.</li>
                                                <li>Password must contain 1 or more digit characters.</li>
                                                <li>Password must contain 1 or more special characters.</li>
                                            </ol>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-lock"></i>
                                        </span>
                                        <span class="input-group-addon group-width">
                                            Confirm Password
                                        </span>
                                        <input id="confirmPassword"
                                               class="form-control"
                                               type="password"
                                               placeholder="Confirm password"
                                               th:field="*{confirmPassword}"/>
                                    </div>
                                    <ul class="text-left col text-danger col"
                                        th:each="error: ${#fields.errors('confirmPassword')}">
                                        <li th:each="message : ${error.split(',')}">
                                            <span class="error-message"
                                               th:text="${message}"></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('terms')}? 'has-error':''">
                                    <input id="terms"
                                           type="checkbox"
                                           th:field="*{terms}"/>
                                    <label class="control-label" for="terms">
                                        I agree with the <a href="https://www.municipalonlinepayments.com/sanantoniotx/terms" target="_blank">terms and conditions</a> for Registration.
                                    </label>
                                    <p class="error-message text-center col text-danger col"
                                       th:each="error : ${#fields.errors('terms')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-block">Register</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--</div>-->
</div>
<th:block th:replace="partials :: scripts" />

<!--<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>-->
<!--<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>-->
<script>
    //Password Error List code to display individual errors when criteria is not met. The Password Criteria List
    //hidden from user view when the Error List is displayed.
    var passwordErrors = document.getElementById("passwordErrors").innerText;
    console.log(passwordErrors)
    if(passwordErrors.length>0){
        document.getElementById("passwordCriteria").setAttribute("hidden","");
    }
</script>
</body>
</html>