<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: head('Create a Work Order')"></th:block>
</head>
<body>
<div class="container">
    <div th:replace="fragments/navbar :: myNav"></div>

    <h1 class="text-center text-light">Create a Work Order</h1>

    <div class="row justify-content-center">
        <div class="card m-1 w-75" style="width: 18rem;">
            <div class="card-body" >


    <form th:action="@{/work-order/create}" method="POST" th:object="${workorder}">
        <div class="form-group">
            <label for="description">Description</label>
            <input id="description" type="text" class="form-control" th:field="*{description}" />
        </div>
        <div class="form-group">
            <label for="notes">Notes</label>
            <input id="notes" type="text" class="form-control" th:field="*{notes}" />
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <input id="category" type="text" class="form-control" th:field="*{category}" />
        </div>
        <div class="form-group">
            <label for="status">Status</label>
            <input id="status" type="text" class="form-control" th:field="*{status}" />
        </div>
        <div class="form-group">
            <label for="customer">Customer</label>
            <input id="customer" type="text" class="form-control" th:field="*{customer}" />
        </div>
        <div class="form-group">
            <label for="employee">Employee</label>
            <input id="employee" type="text" class="form-control" th:field="*{employee}" />
            <!--<select name="employee" size="1" th:each="employee: ${employees}">-->
                <!--<option><span class="font-italic" th:text="${employee.firstName}"></span></option>-->
            <!--</select>-->
        </div>
        <div class="form-group">
            <label for="streetNumber">Street Number</label>
            <input id="streetNumber" type="text" class="form-control" th:field="*{streetNumber}" />
        </div>
        <div class="form-group">
            <label for="streetName">Street Name</label>
            <input id="streetName" type="text" class="form-control" th:field="*{streetName}" />
        </div>
        <div class="form-group">
            <label for="zipcode">Zipcode</label>
            <input id="zipCode" type="number" class="form-control" th:field="*{zipCode}" />
        </div>

        <ul class="nav nav-pills justify-content-center form-group">
            <li class="nav-item font-weight-bold w-50"><button type="submit" class="nav-link active w-100 btn btn-warning font-weight-bold text-light">Submit</button></li>
        </ul>
    </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>