<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials :: head('WasteManagement')" />
<body>
<div th:replace="partials :: myNav"></div>
<div class="container">

<!--&lt;!&ndash; <div th:replace="fragments/navbar :: myNav"></div>-->
    <!--<h1 class="text-center text-light">Create a Work Order</h1>-->

    <!--<div class="row justify-content-center">-->
        <!--<div class="card m-1 w-75" style="width: 18rem;">-->
            <!--<div class="card-body" >-->
                <!--<form th:action="@{/work-order/create}" method="POST" th:object="${workorder}">-->
                    <!--<div class="form-group">-->
                        <!--<label for="description">Description</label>-->
                        <!--<input id="description" type="text" class="form-control" th:field="*{description}" />-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="notes">Notes</label>-->
                        <!--<input id="notes" type="text" class="form-control" th:field="*{notes}" />-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="category">Category</label>-->
                        <!--<input id="category" type="text" class="form-control" th:field="*{category}" />-->
                        <!--<select id="category" name="category" size="1">-->
                            <!--<option th:each="currentCategory: ${category}">-->
                                <!--<span class="font-italic" th:text="${currentCategory.id}"></span>-->
                            <!--</option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                        <!--&lt;!&ndash;<label for="status">Status</label>&ndash;&gt;-->
                        <!--&lt;!&ndash;<input id="status" type="text" class="form-control" th:field="${workorder.status.name}" />&ndash;&gt;-->
                        <!--&lt;!&ndash;<select id="status" name="status" size="1" >&ndash;&gt;-->
                            <!--&lt;!&ndash;<option th:each="currentStatus: ${status}">&ndash;&gt;-->
                                <!--&lt;!&ndash;<span class="font-italic" th:text="${currentStatus.id}"></span>&ndash;&gt;-->
                            <!--&lt;!&ndash;</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;</select>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<div class="form-group">-->
                        <!--<label for="customer">Customer</label>-->
                        <!--<input id="customer" type="text" class="form-control" th:field="*{customer}" />-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="employee">Employee</label>-->
                        <!--<input id="employee" type="text" class="form-control" th:field="*{employee}" />-->
                        <!--&lt;!&ndash;<select id="employees" name="employees" size="1" th:each="employee: ${employees}">&ndash;&gt;-->
                            <!--&lt;!&ndash;<option><span class="font-italic" th:text="${employee.firstName}"></span></option>&ndash;&gt;-->
                        <!--&lt;!&ndash;</select>&ndash;&gt;-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="streetNumber">Street Number</label>-->
                        <!--<input id="streetNumber" type="text" class="form-control" th:field="*{streetNumber}" />-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="streetName">Street Name</label>-->
                        <!--<input id="streetName" type="text" class="form-control" th:field="*{streetName}" />-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="zipcode">Zipcode</label>-->
                        <!--<input id="zipCode" type="number" class="form-control" th:field="*{zipCode}" />-->
                    <!--</div>-->

                    <!--<ul class="nav nav-pills justify-content-center form-group">-->
                        <!--<li class="nav-item font-weight-bold w-50"><button type="submit" class="nav-link active w-100 btn btn-warning font-weight-bold text-light">Submit</button></li>-->
                    <!--</ul>-->
                <!--</form>-->

            <!--</div> &ndash;&gt;-->

    <h1 class="my-4">Create a Work Order</h1>
    <form th:action="@{/work-order/create}" method="POST" th:object="${workorder}">
        <div class="form-group">
            <label for="description">Description</label>
            <textarea  class="form-control" rows="3" cols="10" id="description" type="text" th:field="*{description}"></textarea>
        </div>
        <div class="form-group">
            <label for="notes">Notes</label>
            <textarea class="form-control" rows="3" cols="10" id="notes" type="text" th:field="*{notes}"></textarea>
        </div>
        <!--<div class="form-group">-->
            <!--<label for="category">Category</label>-->
            <!--<input id="category" type="text"  th:field="*{category}" />-->
        <!--</div>-->
        <div class="form-group">
        <label for="category">Category</label>
        <select class="custom-select" id="category" th:field="*{category}">
            <option th:each="cat : ${categories}"
                    th:value="${cat.id}"
                    th:utext="${cat.name}">
            </option>
        </select>
        </div>
        <div class="form-group">
            <label for="status">Type of Bins Needed</label>
            <select class="custom-select" id="inventory" th:field="*{inventory}">
                <option th:each="item : ${inventories}"
                        th:value="${item.id}"
                        th:utext="${item.name +': ' + item.size}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="requestedQuantity">Requested Quantity of Bins</label>
            <input class="form-control" id="requestedQuantity" type="text" th:field="*{requestedQuantity}" />
        </div>
        <!--<div class="form-group">-->
            <!--<label for="status">Status</label>-->
            <!--<input id="status" type="text" th:field="*{status}" />-->
        <!--</div>-->
        <div class="form-group" sec:authorize="hasRole('ROLE_ADMIN')">
        <label for="status">Status</label>
        <select class="custom-select" id="status" th:field="*{status}">
            <option th:each="stat : ${status}"
                    th:value="${stat.id}"
                    th:utext="${stat.name}">
            </option>
        </select>
        </div>
        <!--<div class="form-group" sec:authorize="hasRole('ROLE_ADMIN')">-->
            <!--<label for="customer">Customer</label>-->
            <!--<input id="customer" type="text" th:field="*{customer}" />-->
        <!--</div>-->
        <div class="form-group" sec:authorize="hasRole('ROLE_ADMIN')">
            <label for="customer">Customer</label>
            <select class="custom-select" id="customer" th:field="*{customer}">
                <option th:each="cust : ${customers}"
                        th:value="${cust.id}"
                        th:utext="${cust.firstName + ' ' + cust.lastName}">
                </option>
            </select>

        </div>
      
        <!--<div class="form-group">-->
            <!--<label for="employee">Employee</label>-->
            <!--<input id="employee" type="" th:field="*{employee}" />-->
            <!--&lt;!&ndash;<select name="employee" size="1" th:each="employee: ${employees}">&ndash;&gt;-->
                <!--&lt;!&ndash;<option><span class="font-italic" th:text="${employee.firstName}"></span></option>&ndash;&gt;-->
            <!--&lt;!&ndash;</select>&ndash;&gt;-->
        <!--</div>-->
      
        <div class="form-group">
        <label for="employee">Employee</label>
        <select class="custom-select" id="employee" th:field="*{employee}">
            <option th:each="emp : ${employees}"
                    th:value="${emp.id}"
                    th:utext="${emp.firstName + ' ' + emp.lastName}">
            </option>
        </select>
        </div>
      
        <div class="form-group">
            <label for="streetNumber">Street Number</label>
            <input class="form-control" id="streetNumber" type="text" th:field="*{streetNumber}" />
        </div>
        <div class="form-group">
            <label for="streetName">Street Name</label>
            <input class="form-control" id="streetName" type="text" th:field="*{streetName}" />
        </div>
        <!--<div class="form-group">-->
            <!--<label for="city">City</label>-->
            <!--<input id="city" type="text" th:field="*{city}" />-->
        <!--</div>-->
        <div class="form-group">
            <label for="zipcode">Zipcode</label>
            <input class="form-control" id="zipCode" type="number" th:field="*{zipCode}" />
        </div>

        <div class="form-group">
            <button type="submit">Submit Order</button>
        </div>
    </form>
    </div>
<th:block th:replace="partials :: scripts" />
</body>
</html>