<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: head('Create a Work Order')"></th:block>
</head>
<body>
<div class="container">
    <div th:replace="fragments/navbar :: myNav"></div>

    <h1>Create a Work Order</h1>
    <form th:action="@{/work-order/create}" method="POST" th:object="${workorder}">
        <div class="form-group">
            <label for="description">Description</label>
            <input id="description" type="text" th:field="*{description}" />
        </div>
        <div class="form-group">
            <label for="notes">Notes</label>
            <input id="notes" type="text" th:field="*{notes}" />
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <input id="category" type="text"  th:field="*{category}" />
        </div>
        <div class="form-group">
            <label for="status">Status</label>
            <input id="status" type="text" th:field="*{status}" />
        </div>
        <div class="form-group">
            <label for="customer">Customer</label>
            <input id="customer" type="text" th:field="*{customer}" />
        </div>
        <div class="form-group">
            <label for="employee">Employee</label>
            <input id="employee" type="" th:field="*{employee}" />
            <!--<select name="employee" size="1" th:each="employee: ${employees}">-->
                <!--<option><span class="font-italic" th:text="${employee.firstName}"></span></option>-->
            <!--</select>-->
        </div>
        <div class="form-group">
            <label for="streetNumber">Street Number</label>
            <input id="streetNumber" type="text" th:field="*{streetNumber}" />
        </div>
        <div class="form-group">
            <label for="streetName">Street Name</label>
            <input id="streetName" type="text" th:field="*{streetName}" />
        </div>
        <!--<div class="form-group">-->
            <!--<label for="city">City</label>-->
            <!--<input id="city" type="text" th:field="*{city}" />-->
        <!--</div>-->
        <div class="form-group">
            <label for="zipcode">Zipcode</label>
            <input id="zipCode" type="number" th:field="*{zipCode}" />
        </div>

        <div class="form-group">
            <input value="Sign me up!" type="submit" />
        </div>
    </form>
</div>
</body>
</html>
<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="fragments/header :: head">-->
    <!--<meta charset="UTF-8"/>-->
<!--</head>-->
<!--<body>-->
<!--<div th:replace="fragments/navbar :: myNav"></div>-->
    <!--<h1>Create page</h1>-->

    <!--<form th:action="@{/work-order/create}" th:method="post" th:object="${workorder}">-->
        <!--<h4>Description</h4>-->
        <!--<textarea th:field="*{description}"/>-->
        <!--<br />-->
        <!--<h4>Notes</h4>-->
        <!--<textarea th:field="*{notes}"/>-->
        <!--<br />-->
        <!--<h4>Category</h4>-->
        <!--<input th:field="*{category}"/>-->
        <!--<br />-->
        <!--<h4>Status</h4>-->
        <!--<input th:field="*{status}"/>-->
        <!--<br />-->
        <!--<h4>Customer</h4>-->
        <!--<textarea th:field="*{customer}"/>-->
        <!--<br />-->
        <!--<h4>Employee</h4>-->
        <!--<textarea th:field="*{employee}"/>-->
        <!--<br />-->
        <!--<h4>Street Number</h4>-->
        <!--<textarea th:field="*{streetNumber}"/>-->
        <!--<br />-->
        <!--<h4>Street Name</h4>-->
        <!--<textarea th:field="*{streetName}"/>-->
        <!--<br />-->
        <!--<h4>Zip Code</h4>-->
        <!--<textarea th:field="*{zipCode}"/>-->
        <!--<br />-->
        <!--<input type="submit" />-->
    <!--</form>-->
    <!--<div th:replace="fragments/footer :: footer"></div>-->
<!--</body>-->
<!--</html>-->