<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials :: head('WasteManagement')" />
<body>

<div th:replace="partials :: myNav"></div>
<div class="container">
    <h1 class="text-center mt-3" style="padding-bottom:2rem;padding-top:3rem">List of Work Orders</h1>
    <hr/>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#allOrders">All Orders</a>
    </li>
    <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="nav-link " data-toggle="tab" href="#submittedOrders">Submitted</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#processingOrders">Processing</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#reviewedOrders">Reviewed</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#cancelledOrders">Canceled</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#completedOrders">Complete Orders</a>
    </li>
</ul>

<div id="myTabContent" class="tab-content" >
    <div class="tab-pane active show mt-4" id="allOrders">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="show mr-3" data-toggle="tab" href="#allCard"><button class="btn btn-danger">Card View</button></a>
            </li>
            <li class="nav-item mb-4">
                <a class="active" data-toggle="tab" href="#aAllTable"><button class="btn btn-danger">Table View</button></a>
            </li>
        </ul>
        <div id="tabAllSubContent" class="tab-content fade active show">
            <div class="tab-pane fade mt-4" id="allCard">
                <div class="row justify-content-center">
                    <div class="card m-1" style="width:30%" th:each="workorder : ${all}">
                        <ul class="card-body d-flex flex-column">
                            <p>Work Order # <span th:text="${workorder.id}"></span></p>
                            <p th:text="${'Submitted Date: ' + #dates.format(workorder.submittedDate, 'dd-MM-yyyy')}"></p>
                            <p>Status: <span th:text="${workorder.status.name}"></span></p>
                            <p>Category: <span th:text="${workorder.category.name}"></span></p>
                            <p>Description: <span th:text="${workorder.description}"></span></p>
                            <p>Notes: <span th:text="${workorder.notes}"></span></p>
                            <p>Employee: <span th:utext="${workorder.employee.firstName +' ' + workorder.employee.lastName}">></span></p>
                            <ul class="nav nav-pills justify-content-center mt-auto form-group">
                                <li><a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-darkRed btn-sm mr-2">View</button></a></li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/work-order/{id}/edit(id=${workorder.id})}"><button class="btn btn-darkRed btn-sm">Edit</button></a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade active show mt-4 activeTableTab" id="aAllTable">
                <table class="table table-hover">
                    <tr class="table-primary">
                        <th scope="col">Work Order #</th>
                        <th scope="col">Submitted</th>
                        <th scope="col">Created By</th>
                        <th scope="col">Category</th>
                        <!--<th scope="col">Decrease Status</th>-->
                        <th scope="col">Status</th>
                        <!--<th scope="col">Increase Status</th>-->
                        <th scope="col"></th>
                    </tr>
                    <tr style="font-size:15px" th:each="order : ${all}">
                        <td scope="row" th:text="${order.id}"></td>
                        <td th:text="${#dates.format(order.submittedDate, 'dd-MMM-yyyy')}"></td>
                        <td th:text="${order.customer.firstName + ' ' + order.customer.lastName}"></td>
                        <td th:text="${order.category.name}"></td>
                        <!--<td class="m-0 p-0 text-center">-->
                            <!--<form th:action="@{/admin/status/{id}/decrement(id=${order.id})}" th:method="post" class="m-0">-->
                                <!--<div class="form-group">-->
                                    <!--&lt;!&ndash;<label th:for="dec">Increase Inventory</label>&ndash;&gt;-->
                                    <!--<input th:type="hidden" th:class="form-control" name="dec" th:value="1"/>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<input type="submit" class="btn btn-warning" value="Decrease"/>-->
                                <!--</div>-->
                            <!--</form>-->
                        <!--</td>-->
                        <td th:text="${order.status.name}"></td>
                        <!--<td class="m-0 p-0 text-center">-->
                            <!--<form th:action="@{/admin/status/{id}/increment(id=${order.id})}" th:method="post" class="m-0">-->
                                <!--<div class="form-group">-->
                                    <!--&lt;!&ndash;<label th:for="inc">Increase Inventory</label>&ndash;&gt;-->
                                    <!--<input th:type="hidden" th:class="form-control" name="inc" th:value="1"/>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<input type="submit" class="btn btn-success" value="Process"/>-->
                                <!--</div>-->
                            <!--</form>-->
                        <!--</td>-->
                        <td><a th:href="@{/work-order/{id}(id=${order.id})}"><button class="btn btn-darkRed btn-sm mr-2">View</button></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade mt-4" id="submittedOrders" sec:authorize="hasRole('ROLE_ADMIN')">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="mr-3" data-toggle="tab" href="#card"><button class="btn btn-danger">Card View</button></a>
                </li>
                <li class="mb-4">
                    <a class="active show" data-toggle="tab" href="#aTable"><button class="btn btn-danger">Table View</button></a>
                </li>
            </ul>
            <div id="tabSubContent" class="tab-content fade active show ">
                <div class="tab-pane fade mt-4" id="card">
                        <div class="row justify-content-center">
                            <div class="card m-1" style="width:30%;background-color:#d2eaf4" th:each="workorder : ${submitted}">
                                <ul class="card-body d-flex flex-column">
                                    <p>Work Order # <span th:text="${workorder.id}"></span></p>
                                    <p th:text="${'Submitted Date: ' + #dates.format(workorder.submittedDate, 'dd-MM-yyyy')}"></p>
                                    <p>Status: <span th:text="${workorder.status.name}"></span></p>
                                    <p>Category: <span th:text="${workorder.category.name}"></span></p>
                                    <p>Description: <span th:text="${workorder.description}"></span></p>
                                    <p>Notes: <span th:text="${workorder.notes}"></span></p>
                                    <p>Employee: <span th:utext="${workorder.employee.firstName +' ' + workorder.employee.lastName}">></span></p>
                                    <ul class="nav nav-pills justify-content-center mt-auto form-group">
                                        <li><a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-md mr-2">View</button></a></li>
                                        <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/work-order/{id}/edit(id=${workorder.id})}"><button class="btn btn-danger btn-md">Edit</button></a></li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                </div>
                <div class="tab-pane fade active show  mt-4 active" id="aTable">
                        <table class="table table-hover">
                            <tr class="table-primary">
                                <th scope="col" class="text-left">Work Order #</th>
                                <th scope="col" class="text-left">Submitted</th>
                                <th scope="col" class="text-left">Created By</th>
                                <th scope="col" class="text-left">Category</th>
                                <th scope="col" class="text-left">Employee Assnmt.</th>
                                <th scope="col" class="text-left">Inv. Allocated</th>
                                <th scope="col" class="text-left">View</th>
                                <!--<th scope="col"></th>-->
                            </tr>
                            <tr style="font-size:15px" th:each="order : ${submitted}" >
                                <td scope="row" th:text="${order.id}"></td>
                                <td th:text="${#dates.format(order.submittedDate, 'dd-MMM-yyyy')}"></td>
                                <td th:text="${order.customer.firstName + ' ' + order.customer.lastName}"></td>
                                <td th:text="${order.category.name}"></td>
                                <td class="m-0 p-0 text-center">
                                    <form class="form-inline mt-2" th:action="@{/work-order/assign/{id}(id=${order.id})}" th:method="post">
                                        <div class="form-group">
                                            <select style="display:inline" class="custom-select" id="emp" name="employee">
                                                <option th:each="emp : ${emps}"
                                                        th:value="${emp.id}"
                                                        th:utext="${emp.firstName + ' ' + emp.lastName}">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <button style="display:inline" type="submit" class="btn btn-success ml-2">Assign</button>
                                        </div>
                                    </form>
                                </td>
                                <td class="justify-content-right" th:text="${order.requestedQuantity + ' -- ' + order.inventory.name}"></td>
                                <!--<td class="m-0 p-0 text-center">-->
                                    <!--<form th:action="@{/admin/status/{id}/increment(id=${order.id})}" th:method="post" class="m-0">-->
                                        <!--<div class="form-group">-->
                                            <!--<input th:type="hidden" th:class="form-control" name="inc" th:value="1"/>-->
                                        <!--</div>-->
                                        <!--<div class="form-group">-->
                                            <!--<input type="submit" class="btn btn-success" value="Increase"/>-->
                                        <!--</div>-->
                                    <!--</form>-->
                                <!--</td>-->
                                <td><a th:href="@{/work-order/{id}(id=${order.id})}"><button class="btn btn-darkRed btn-sm mr-2">View</button></a></td>
                            </tr>
                        </table>
                </div>
            </div>
    </div>
    <div class="tab-pane fade mt-4" id="processingOrders">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="mr-3" data-toggle="tab" href="#card3"><button class="btn btn-danger">Card View</button></a>
            </li>
            <li class="nav-item mb-4">
                <a class="active" data-toggle="tab" href="#aTable3"><button class="btn btn-danger">Table View</button></a>
            </li>
        </ul>
        <div id="tab3SubContent" class="tab-content fade active show">
            <div class="tab-pane fade mt-4" id="card3">
                <div class="row justify-content-center">
                    <div class="card m-1" style="width:30%;background-color:#e8dbeb" th:each="workorder : ${processing}">
                        <ul class="card-body d-flex flex-column">
                            <p>Work Order # <span th:text="${workorder.id}"></span></p>
                            <p th:text="${'Submitted Date: ' + #dates.format(workorder.submittedDate, 'dd-MM-yyyy')}"></p>
                            <p>Status: <span th:text="${workorder.status.name}"></span></p>
                            <p>Category: <span th:text="${workorder.category.name}"></span></p>
                            <p>Description: <span th:text="${workorder.description}"></span></p>
                            <p>Notes: <span th:text="${workorder.notes}"></span></p>
                            <p>Employee: <span th:utext="${workorder.employee.firstName +' ' + workorder.employee.lastName}">></span></p>
                            <ul class="nav nav-pills justify-content-center mt-auto form-group">
                                <li><a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-darkRed btn-sm mr-2">View</button></a></li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/work-order/{id}/edit(id=${workorder.id})}"><button class="btn btn-danger btn-sm">Edit</button></a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade active show mt-4" id="aTable3">
                <table class="table table-hover">
                    <tr class="table-primary">
                        <th scope="col">Work Order #</th>
                        <th scope="col">Submitted</th>
                        <th scope="col">Created By</th>
                        <th scope="col">Category</th>
                        <!--<th scope="col">Decrease Status</th>-->
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                        <th scope="col">View</th>
                    </tr>
                    <tr style="font-size:15px" th:each="order : ${processing}">
                        <td scope="row" th:text="${order.id}"></td>
                        <td th:text="${#dates.format(order.submittedDate, 'dd-MMM-yyyy')}"></td>
                        <td th:text="${order.customer.firstName + ' ' + order.customer.lastName}"></td>
                        <td th:text="${order.category.name}"></td>
                        <!--<td class="m-0 p-0 text-center">-->
                            <!--<form th:action="@{/admin/status/{id}/decrement(id=${order.id})}" th:method="post" class="m-0">-->
                                <!--<div class="form-group">-->
                                    <!--&lt;!&ndash;<label th:for="dec">Increase Inventory</label>&ndash;&gt;-->
                                    <!--<input th:type="hidden" th:class="form-control" name="dec" th:value="1"/>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<input type="submit" class="btn btn-warning" value="Decrease"/>-->
                                <!--</div>-->
                            <!--</form>-->
                        <!--</td>-->
                        <td th:text="${order.status.name}"></td>
                        <td class="m-0 p-0 text-center">
                            <form th:action="@{/admin/status/{id}/increment(id=${order.id})}" th:method="post" class="m-0">
                                <div class="form-group">
                                    <!--<label th:for="inc">Increase Inventory</label>-->
                                    <input th:type="hidden" th:class="form-control" name="inc" th:value="1"/>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-success" value="Submit for Review"/>
                                </div>
                            </form>
                        </td>
                        <td><a th:href="@{/work-order/{id}(id=${order.id})}"><button class="btn btn-darkRed btn-sm mr-2">View</button></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade mt-4" id="reviewedOrders">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="mr-3" data-toggle="tab" href="#card4"><button class="btn btn-danger">Card View</button></a>
            </li>
            <li class="nav-item mb-4">
                <a class="active" data-toggle="tab" href="#aTable4"><button class="btn btn-danger">Table View</button></a>
            </li>
        </ul>
        <div id="tab4SubContent" class="tab-content fade active show">
            <div class="tab-pane fade mt-4" id="card4">
                <div class="row justify-content-center">
                    <div class="card m-1" style="width:30%;background-color:#f1d4d0" th:each="workorder : ${review}">
                        <ul class="card-body d-flex flex-column">
                            <p>Work Order # <span th:text="${workorder.id}"></span></p>
                            <p th:text="${'Submitted Date: ' + #dates.format(workorder.submittedDate, 'dd-MM-yyyy')}"></p>
                            <p>Status: <span th:text="${workorder.status.name}"></span></p>
                            <p>Category: <span th:text="${workorder.category.name}"></span></p>
                            <p>Description: <span th:text="${workorder.description}"></span></p>
                            <p>Notes: <span th:text="${workorder.notes}"></span></p>
                            <p>Employee: <span th:utext="${workorder.employee.firstName +' ' + workorder.employee.lastName}"></span></p>
                            <ul class="nav nav-pills justify-content-center mt-auto form-group">
                                <li><a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-darkRed btn-sm mr-2">View</button></a></li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/work-order/{id}/edit(id=${workorder.id})}"><button class="btn btn-danger btn-sm">Edit</button></a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade active show mt-4" id="aTable4">
                <table class="table table-hover">
                    <tr class="table-primary">
                        <th scope="col">Work Order #</th>
                        <th scope="col">Submitted</th>
                        <th scope="col">Created By</th>
                        <th scope="col">Category</th>
                        <th scope="col" sec:authorize="hasRole('ROLE_ADMIN')"></th>
                        <th scope="col">Status</th>
                        <th scope="col" sec:authorize="hasRole('ROLE_ADMIN')"></th>
                        <th scope="col">View</th>
                    </tr>
                    <tr style="font-size:15px" th:each="order : ${review}">
                        <td scope="row" th:text="${order.id}"></td>
                        <td th:text="${#dates.format(order.submittedDate, 'dd-MMM-yyyy')}"></td>
                        <td th:text="${order.customer.firstName + ' ' + order.customer.lastName}"></td>
                        <td th:text="${order.category.name}"></td>
                        <td class="m-0 p-0 text-center" sec:authorize="hasRole('ROLE_ADMIN')">
                            <form th:action="@{/admin/status/{id}/decrement(id=${order.id})}" th:method="post" class="m-0">
                                <div class="form-group">
                                    <!--<label th:for="dec">Increase Inventory</label>-->
                                    <input th:type="hidden" th:class="form-control" name="dec" th:value="1"/>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-warning" value="Revert to Processing"/>
                                </div>
                            </form>
                        </td>
                        <td th:text="${order.status.name}"></td>
                        <td class="m-0 p-0 text-center" sec:authorize="hasRole('ROLE_ADMIN')">
                            <form th:action="@{/admin/status/{id}/increment(id=${order.id})}" th:method="post" class="m-0">
                                <div class="form-group">
                                    <!--<label th:for="inc">Increase Inventory</label>-->
                                    <input th:type="hidden" th:class="form-control" name="inc" th:value="1"/>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-success" value="Submit for Completion"/>
                                </div>
                            </form>
                        </td>
                        <td><a th:href="@{/work-order/{id}(id=${order.id})}"><button class="btn btn-darkRed btn-sm mr-2">View</button></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade mt-4" id="completedOrders">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="mr-3" data-toggle="tab" href="#card5"><button class="btn btn-danger">Card View</button></a>
            </li>
            <li class="nav-item mb-4">
                <a class=" active" data-toggle="tab" href="#aTable5"><button class="btn btn-danger">Table View</button></a>
            </li>
        </ul>
        <div id="tab5SubContent" class="tab-content fade active show">
            <div class="tab-pane fade mt-4" id="card5">
                <div class="row justify-content-center">
                    <div class="card m-1" style="width:30%;background-color:#dde9d0" th:each="workorder : ${complete}">
                        <ul class="card-body d-flex flex-column">
                            <p>Work Order # <span th:text="${workorder.id}"></span></p>
                            <p th:text="${'Submitted Date: ' + #dates.format(workorder.submittedDate, 'dd-MM-yyyy')}"></p>
                            <p>Status: <span th:text="${workorder.status.name}"></span></p>
                            <p>Category: <span th:text="${workorder.category.name}"></span></p>
                            <p>Description: <span th:text="${workorder.description}"></span></p>
                            <p>Notes: <span th:text="${workorder.notes}"></span></p>
                            <p>Employee: <span th:utext="${workorder.employee.firstName +' ' + workorder.employee.lastName}">></span></p>
                            <ul class="nav nav-pills justify-content-center mt-auto form-group">
                                <li><a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-darkRed btn-sm mr-2">View</button></a></li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/work-order/{id}/edit(id=${workorder.id})}"><button class="btn btn-danger btn-sm">Edit</button></a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade active show mt-4" id="aTable5">
                <table class="table table-hover">
                    <tr class="table-primary">
                        <th scope="col">Work Order #</th>
                        <th scope="col">Submitted</th>
                        <th scope="col">Created By</th>
                        <th scope="col">Category</th>
                        <th scope="col" sec:authorize="hasRole('ROLE_ADMIN')"></th>
                        <th scope="col">Status</th>
                        <!--<th scope="col">Increase Status</th>-->
                        <th scope="col">View</th>
                    </tr>
                    <tr style="font-size:15px" th:each="order : ${complete}">
                        <td scope="row" th:text="${order.id}"></td>
                        <td th:text="${#dates.format(order.submittedDate, 'dd-MMM-yyyy')}"></td>
                        <td th:text="${order.customer.firstName + ' ' + order.customer.lastName}"></td>
                        <td th:text="${order.category.name}"></td>
                        <td class="m-0 p-0 text-center" sec:authorize="hasRole('ROLE_ADMIN')">
                            <form th:action="@{/admin/status/{id}/decrement(id=${order.id})}" th:method="post" class="m-0">
                                <div class="form-group">
                                    <!--<label th:for="dec">Increase Inventory</label>-->
                                    <input th:type="hidden" th:class="form-control" name="dec" th:value="1"/>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-warning" value="Revert to Review"/>
                                </div>
                            </form>
                        </td>
                        <td th:text="${order.status.name}"></td>
                        <!--<td class="m-0 p-0 text-center">-->
                            <!--<form th:action="@{/admin/status/{id}/increment(id=${order.id})}" th:method="post" class="m-0">-->
                                <!--<div class="form-group">-->
                                    <!--&lt;!&ndash;<label th:for="inc">Increase Inventory</label>&ndash;&gt;-->
                                    <!--<input th:type="hidden" th:class="form-control" name="inc" th:value="1"/>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<input type="submit" class="btn btn-success" value="Increase"/>-->
                                <!--</div>-->
                            <!--</form>-->
                        <!--</td>-->
                        <td><a th:href="@{/work-order/{id}(id=${order.id})}"><button class="btn btn-darkRed btn-sm mr-2">View</button></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade mt-4" id="cancelledOrders">
        <ul class="nav nav-tabs">
            <li class="nav-item ">
                <a class="mr-3" data-toggle="tab" href="#card6"><button class="btn btn-danger">Card View</button></a>
            </li>
            <li class="nav-item mb-4">
                <a class="active" data-toggle="tab" href="#aTable6"><button class="btn btn-danger">Table View</button></a>
            </li>
        </ul>
        <div id="tab6SubContent" class="tab-content fade active show">
            <div class="tab-pane fade mt-4" id="card6">
                <div class="row justify-content-center">
                    <div class="card m-1" style="width:30%;" th:each="workorder : ${cancelled}">
                        <ul class="card-body d-flex flex-column">
                            <p>Work Order # <span th:text="${workorder.id}"></span></p>
                            <p th:text="${'Submitted Date: ' + #dates.format(workorder.submittedDate, 'dd-MM-yyyy')}"></p>
                            <p>Status: <span th:text="${workorder.status.name}"></span></p>
                            <p>Category: <span th:text="${workorder.category.name}"></span></p>
                            <p>Description: <span th:text="${workorder.description}"></span></p>
                            <p>Notes: <span th:text="${workorder.notes}"></span></p>
                            <p>Employee: <span th:utext="${workorder.employee.firstName +' ' + workorder.employee.lastName}">></span></p>
                            <ul class="nav nav-pills justify-content-center mt-auto form-group">
                                <li><a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-darkRed btn-sm mr-2">View</button></a></li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/work-order/{id}/edit(id=${workorder.id})}"><button class="btn btn-danger btn-sm">Edit</button></a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade active show mt-4" id="aTable6">
                <table class="table table-hover">
                    <tr class="table-primary">
                        <th scope="col">Work Order #</th>
                        <th scope="col">Submitted</th>
                        <th scope="col">Created By</th>
                        <th scope="col">Category</th>
                        <!--<th scope="col">Decrease Status</th>-->
                        <th scope="col">Status</th>
                        <!--<th scope="col">Increase Status</th>-->
                        <th scope="col">View</th>
                    </tr>
                    <tr style="font-size:15px" th:each="order : ${cancelled}">
                        <td scope="row" th:text="${order.id}"></td>
                        <td th:text="${#dates.format(order.submittedDate, 'dd-MMM-yyyy')}"></td>
                        <td th:text="${order.customer.firstName + ' ' + order.customer.lastName}"></td>
                        <td th:text="${order.category.name}"></td>
                        <!--<td class="m-0 p-0 text-center">-->
                            <!--<form th:action="@{/admin/status/{id}/decrement(id=${order.id})}" th:method="post" class="m-0">-->
                                <!--<div class="form-group">-->
                                    <!--&lt;!&ndash;<label th:for="dec">Increase Inventory</label>&ndash;&gt;-->
                                    <!--<input th:type="hidden" th:class="form-control" name="dec" th:value="1"/>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<input type="submit" class="btn btn-warning" value="Decrease"/>-->
                                <!--</div>-->
                            <!--</form>-->
                        <!--</td>-->
                        <td th:text="${order.status.name}"></td>
                        <!--<td class="m-0 p-0 text-center">-->
                            <!--<form th:action="@{/admin/status/{id}/increment(id=${order.id})}" th:method="post" class="m-0">-->
                                <!--<div class="form-group">-->
                                    <!--&lt;!&ndash;<label th:for="inc">Increase Inventory</label>&ndash;&gt;-->
                                    <!--<input th:type="hidden" th:class="form-control" name="inc" th:value="1"/>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<input type="submit" class="btn btn-success" value="Increase"/>-->
                                <!--</div>-->
                            <!--</form>-->
                        <!--</td>-->
                        <td><a th:href="@{/work-order/{id}(id=${order.id})}"><button class="btn btn-darkRed btn-sm mr-2">View</button></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

    <!--THIS IS WORKING FORMAT FOR CANCEL ORDER DISPLAY-->

<!--<h3 class="text-center text-light text-underline"><u>Cancelled</u></h3>-->
<!--<div class="row justify-content-center">-->
    <!--<div class="card m-1" style="width: 18rem;" th:each="workorder : ${cancelled}">-->
        <!--<ul class="card-body d-flex flex-column" >-->
            <!--<p th:text="${'Submitted Date: ' + #dates.format(workorder.submittedDate, 'dd-MM-yyyy')}"></p>-->
            <!--<p>Status: <span th:text="${workorder.status.name}"></span></p>-->
            <!--<p>Category: <span th:text="${workorder.category.name}"></span></p>-->
            <!--<p>Description: <span th:text="${workorder.description}"></span></p>-->
            <!--<p>Notes: <span th:text="${workorder.notes}"></span></p>-->
            <!--<p>Employee: <span th:text="${workorder.employee.firstName + ' ' + workorder.employee.lastName}"></span></p>-->
            <!--<ul class="nav nav-pills justify-content-center mt-auto form-group">-->
                <!--<li><a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm mr-2">View</button></a></li>-->
                <!--<li><a th:href="@{/work-order/{id}/edit(id=${workorder.id})}"><button class="btn btn-primary btn-sm">Edit</button></a></li>-->
                <!--&lt;!&ndash;<li class="nav-item font-weight-bold w-50"><a th:href="@{'/work-order/' + ${workorder.id}}" class="nav-link">Work Order Link</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li class="nav-item font-weight-bold w-50"><a th:href="@{'/work-order/' + ${workorder.id} + '/edit'}" class="nav-link">Edit Work Order</a></li>&ndash;&gt;-->
            <!--</ul>-->
        <!--</ul>-->
    <!--</div>-->
<!--<div th:replace="partials :: myNav"></div>-->
<!--<div class="container">-->
<!--<h1 class="my-4">List of Work Orders</h1>-->
    <!--<th:block th:each="workorder : ${workorders}">-->
        <!--<div class="card p-4 mb-3" th:if="${workorder.status.name eq 'SUBMITTED'}" style="background-color:#d2eaf4">-->
            <!--&lt;!&ndash;<div class="card p-4 mb-3" th:each="workorder : ${workorders}">&ndash;&gt;-->

            <!--<h2 th:text="${workorder.category.name}"></h2>-->
            <!--<p th:text="${workorder.description}"></p>-->
            <!--<p th:text="${'Submitted on: ' + #dates.format(workorder.submittedDate, 'dd-MMM-yyyy')}"></p>-->
            <!--<p th:text="${'Status: ' + workorder.status.name}"></p>-->
            <!--<a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm">View</button></a>-->
            <!--&lt;!&ndash;<p th:text="${post.user.email}"></p>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="/posts/{id}/edit" th:href="@{/posts/{id}/edit(id=${post.id})}">edit post</a>&ndash;&gt;-->
            <!--&lt;!&ndash;<br />&ndash;&gt;-->
        <!--</div>-->
    <!--</th:block>-->
    <!--<th:block th:each="workorder : ${workorders}">-->
        <!--<div class="card p-4 mb-3" th:if="${workorder.status.name eq 'PENDING ASSIGNMENT'}" style="background-color:#f4e6d4">-->
            <!--&lt;!&ndash;<div class="card p-4 mb-3" th:each="workorder : ${workorders}">&ndash;&gt;-->

            <!--<h2 th:text="${workorder.category.name}"></h2>-->
            <!--<p th:text="${workorder.description}"></p>-->
            <!--<p th:text="${'Submitted on: ' + #dates.format(workorder.submittedDate, 'dd-MMM-yyyy')}"></p>-->
            <!--<p th:text="${'Status: ' + workorder.status.name}"></p>-->
            <!--<a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm">View</button></a>-->
            <!--&lt;!&ndash;<p th:text="${post.user.email}"></p>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="/posts/{id}/edit" th:href="@{/posts/{id}/edit(id=${post.id})}">edit post</a>&ndash;&gt;-->
            <!--&lt;!&ndash;<br />&ndash;&gt;-->
        <!--</div>-->
    <!--</th:block>-->
    <!--<th:block th:each="workorder : ${workorders}">-->
        <!--<div class="card p-4 mb-3" th:if="${workorder.status.name eq 'PROCESSING'}" style="background-color:#e8dbeb">-->
            <!--&lt;!&ndash;<div class="card p-4 mb-3" th:each="workorder : ${workorders}">&ndash;&gt;-->

            <!--<h2 th:text="${workorder.category.name}"></h2>-->
            <!--<p th:text="${workorder.description}"></p>-->
            <!--<p th:text="${'Submitted on: ' + #dates.format(workorder.submittedDate, 'dd-MMM-yyyy')}"></p>-->
            <!--<p th:text="${'Status: ' + workorder.status.name}"></p>-->
            <!--<a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm">View</button></a>-->
            <!--&lt;!&ndash;<p th:text="${post.user.email}"></p>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="/posts/{id}/edit" th:href="@{/posts/{id}/edit(id=${post.id})}">edit post</a>&ndash;&gt;-->
            <!--&lt;!&ndash;<br />&ndash;&gt;-->
        <!--</div>-->
    <!--</th:block>-->
    <!--<th:block th:each="workorder : ${workorders}">-->
        <!--<div class="card p-4 mb-3" th:if="${workorder.status.name eq 'REVIEW'}" style="background-color:#f1d4d0">-->
            <!--&lt;!&ndash;<div class="card p-4 mb-3" th:each="workorder : ${workorders}">&ndash;&gt;-->

            <!--<h2 th:text="${workorder.category.name}"></h2>-->
            <!--<p th:text="${workorder.description}"></p>-->
            <!--<p th:text="${'Submitted on: ' + #dates.format(workorder.submittedDate, 'dd-MMM-yyyy')}"></p>-->
            <!--<p th:text="${'Status: ' + workorder.status.name}"></p>-->
            <!--<a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm">View</button></a>-->
            <!--&lt;!&ndash;<p th:text="${post.user.email}"></p>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="/posts/{id}/edit" th:href="@{/posts/{id}/edit(id=${post.id})}">edit post</a>&ndash;&gt;-->
            <!--&lt;!&ndash;<br />&ndash;&gt;-->
        <!--</div>-->
    <!--</th:block>-->
    <!--<th:block th:each="workorder : ${workorders}">-->
        <!--<div class="card p-4 mb-3" th:if="${workorder.status.name eq 'COMPLETE'}" style="background-color:#dde9d0">-->
    <!--&lt;!&ndash;<div class="card p-4 mb-3" th:each="workorder : ${workorders}">&ndash;&gt;-->

        <!--<h2 th:text="${workorder.category.name}"></h2>-->
        <!--<p th:text="${workorder.description}"></p>-->
        <!--<p th:text="${'Submitted on: ' + #dates.format(workorder.submittedDate, 'dd-MMM-yyyy')}"></p>-->
        <!--<p th:text="${'Status: ' + workorder.status.name}"></p>-->
        <!--<a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm">View</button></a>-->
        <!--&lt;!&ndash;<p th:text="${post.user.email}"></p>&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="/posts/{id}/edit" th:href="@{/posts/{id}/edit(id=${post.id})}">edit post</a>&ndash;&gt;-->
        <!--&lt;!&ndash;<br />&ndash;&gt;-->

        <!--</div>-->
    <!--</th:block>-->




<!--<div th:replace="partials :: myNav"></div>-->
<!--<div class="container">-->
<!--<h1 class="my-4">List of Work Orders</h1>-->
<!--<th:block th:each="workorder : ${workorders}">-->
<!--<div class="card p-4 mb-3" th:if="${workorder.status.name eq 'SUBMITTED'}" style="background-color:#d2eaf4">-->
<!--&lt;!&ndash;<div class="card p-4 mb-3" th:each="workorder : ${workorders}">&ndash;&gt;-->

<!--<h2 th:text="${workorder.category.name}"></h2>-->
<!--<p th:text="${workorder.description}"></p>-->
<!--<p th:text="${'Submitted on: ' + #dates.format(workorder.submittedDate, 'dd-MMM-yyyy')}"></p>-->
<!--<p th:text="${'Status: ' + workorder.status.name}"></p>-->
<!--<a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm">View</button></a>-->
<!--&lt;!&ndash;<p th:text="${post.user.email}"></p>&ndash;&gt;-->
<!--&lt;!&ndash;<a href="/posts/{id}/edit" th:href="@{/posts/{id}/edit(id=${post.id})}">edit post</a>&ndash;&gt;-->
<!--&lt;!&ndash;<br />&ndash;&gt;-->
<!--</div>-->
<!--</th:block>-->
<!--<th:block th:each="workorder : ${workorders}">-->
<!--<div class="card p-4 mb-3" th:if="${workorder.status.name eq 'PENDING ASSIGNMENT'}" style="background-color:#f4e6d4">-->
<!--&lt;!&ndash;<div class="card p-4 mb-3" th:each="workorder : ${workorders}">&ndash;&gt;-->

<!--<h2 th:text="${workorder.category.name}"></h2>-->
<!--<p th:text="${workorder.description}"></p>-->
<!--<p th:text="${'Submitted on: ' + #dates.format(workorder.submittedDate, 'dd-MMM-yyyy')}"></p>-->
<!--<p th:text="${'Status: ' + workorder.status.name}"></p>-->
<!--<a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm">View</button></a>-->
<!--&lt;!&ndash;<p th:text="${post.user.email}"></p>&ndash;&gt;-->
<!--&lt;!&ndash;<a href="/posts/{id}/edit" th:href="@{/posts/{id}/edit(id=${post.id})}">edit post</a>&ndash;&gt;-->
<!--&lt;!&ndash;<br />&ndash;&gt;-->
<!--</div>-->
<!--</th:block>-->
<!--<th:block th:each="workorder : ${workorders}">-->
<!--<div class="card p-4 mb-3" th:if="${workorder.status.name eq 'PROCESSING'}" style="background-color:#e8dbeb">-->
<!--&lt;!&ndash;<div class="card p-4 mb-3" th:each="workorder : ${workorders}">&ndash;&gt;-->

<!--<h2 th:text="${workorder.category.name}"></h2>-->
<!--<p th:text="${workorder.description}"></p>-->
<!--<p th:text="${'Submitted on: ' + #dates.format(workorder.submittedDate, 'dd-MMM-yyyy')}"></p>-->
<!--<p th:text="${'Status: ' + workorder.status.name}"></p>-->
<!--<a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm">View</button></a>-->
<!--&lt;!&ndash;<p th:text="${post.user.email}"></p>&ndash;&gt;-->
<!--&lt;!&ndash;<a href="/posts/{id}/edit" th:href="@{/posts/{id}/edit(id=${post.id})}">edit post</a>&ndash;&gt;-->
<!--&lt;!&ndash;<br />&ndash;&gt;-->
<!--</div>-->
<!--</th:block>-->
<!--<th:block th:each="workorder : ${workorders}">-->
<!--<div class="card p-4 mb-3" th:if="${workorder.status.name eq 'REVIEW'}" style="background-color:#f1d4d0">-->
<!--&lt;!&ndash;<div class="card p-4 mb-3" th:each="workorder : ${workorders}">&ndash;&gt;-->

<!--<h2 th:text="${workorder.category.name}"></h2>-->
<!--<p th:text="${workorder.description}"></p>-->
<!--<p th:text="${'Submitted on: ' + #dates.format(workorder.submittedDate, 'dd-MMM-yyyy')}"></p>-->
<!--<p th:text="${'Status: ' + workorder.status.name}"></p>-->
<!--<a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm">View</button></a>-->
<!--&lt;!&ndash;<p th:text="${post.user.email}"></p>&ndash;&gt;-->
<!--&lt;!&ndash;<a href="/posts/{id}/edit" th:href="@{/posts/{id}/edit(id=${post.id})}">edit post</a>&ndash;&gt;-->
<!--&lt;!&ndash;<br />&ndash;&gt;-->
<!--</div>-->
<!--</th:block>-->
<!--<th:block th:each="workorder : ${workorders}">-->
<!--<div class="card p-4 mb-3" th:if="${workorder.status.name eq 'COMPLETE'}" style="background-color:#dde9d0">-->
<!--&lt;!&ndash;<div class="card p-4 mb-3" th:each="workorder : ${workorders}">&ndash;&gt;-->

<!--<h2 th:text="${workorder.category.name}"></h2>-->
<!--<p th:text="${workorder.description}"></p>-->
<!--<p th:text="${'Submitted on: ' + #dates.format(workorder.submittedDate, 'dd-MMM-yyyy')}"></p>-->
<!--<p th:text="${'Status: ' + workorder.status.name}"></p>-->
<!--<a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm">View</button></a>-->
<!--&lt;!&ndash;<p th:text="${post.user.email}"></p>&ndash;&gt;-->
<!--&lt;!&ndash;<a href="/posts/{id}/edit" th:href="@{/posts/{id}/edit(id=${post.id})}">edit post</a>&ndash;&gt;-->
<!--&lt;!&ndash;<br />&ndash;&gt;-->

<!--</div>-->
<!--</th:block>-->
    </div>
<th:block th:replace="partials :: scripts" />
<script>
    // $(function() {
    //     $('a[data-toggle="tab"]').on('click', function(e) {
    //         window.localStorage.setItem('activeTab', $(e.target).attr('href'));
    //     });
    //     var activeTab = window.localStorage.getItem('activeTab');
    //     if (activeTab) {
    //         $('#myTab a[href="' + activeTab + '"]').tab('show');
    //         window.localStorage.removeItem("activeTab");
    //     }
    // });
    //
    // $('.nav-tabs a').on('shown.bs.tab', function(event){
    //     var x = $(event.target).text();         // active tab
    //     var y = $(event.relatedTarget).text();  // previous tab
    // });
</script>
</body>
</html>