<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('WasteManagement')" />
<body>

<div th:replace="partials :: myNav"></div>
<div class="container">
<h1 class="text-center text-light">List of Work Orders</h1>

<h3 class="text-center text-light text-underline"><u>Submitted</u></h3>
<div class="row justify-content-center">
    <div class="card m-1" style="width: 18rem;background-color:#d2eaf4" th:each="workorder : ${submitted}">
        <ul class="card-body d-flex flex-column" >
            <!--<p>Submission Date: <span th:text="${workorder.getSubmittedDate()}"></span></p>-->
            <p th:text="${'Submitted Date: ' + #dates.format(workorder.submittedDate, 'dd-MM-yyyy')}"></p>
            <p>Status: <span th:text="${workorder.status.name}"></span></p>
            <p>Category: <span th:text="${workorder.category.name}"></span></p>
            <p>Description: <span th:text="${workorder.description}"></span></p>
            <p>Notes: <span th:text="${workorder.notes}"></span></p>
            <!--<p>Employee: <span th:text="${workorder.employee.firstName + ' ' + workorder.employee.lastName}"></span></p>-->
            <ul class="nav nav-pills justify-content-center mt-auto form-group">
                <li><a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm mr-2">View</button></a></li>
                <li><a th:href="@{/work-order/{id}/edit(id=${workorder.id})}"><button class="btn btn-primary btn-sm">Edit</button></a></li>
                <!--<li class="nav-item font-weight-bold w-50"><a th:href="@{'/work-order/' + ${workorder.id}}" class="nav-link">Work Order Link</a></li>-->
                <!--<li><a th:href="@{/posts/{id}/edit(id=${workorder.id})}">edit post</a></li>-->
                <!--<li class="nav-item font-weight-bold w-50"><a th:href="@{'/work-order/' + ${workorder.id} + '/edit'}" class="nav-link">Edit Work Order</a></li>-->
            </ul>
        </ul>
    </div>
</div>
<hr/>
<h3 class="text-center text-light text-underline"><u>Pending</u></h3>

<div class="row justify-content-center">
    <div class="card m-1" style="width: 18rem;background-color:#f4e6d4" th:each="workorder : ${pending}">
        <ul class="card-body d-flex flex-column" >
            <p th:text="${'Submitted Date: ' + #dates.format(workorder.submittedDate, 'dd-MM-yyyy')}"></p>
            <p>Submission Date: <span th:text="${workorder.getSubmittedDate()}"></span></p>
            <p>Status: <span th:text="${workorder.status.name}"></span></p>
            <p>Category: <span th:text="${workorder.category.name}"></span></p>
            <p>Description: <span th:text="${workorder.description}"></span></p>
            <p>Notes: <span th:text="${workorder.notes}"></span></p>
            <p>Employee: <span th:text="${workorder.employee.firstName + ' ' + workorder.employee.lastName}"></span></p>
            <ul class="nav nav-pills justify-content-center mt-auto form-group">
                <li><a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm mr-2">View</button></a></li>
                <li><a th:href="@{/work-order/{id}/edit(id=${workorder.id})}"><button class="btn btn-primary btn-sm">Edit</button></a></li>
                <!--<li class="nav-item font-weight-bold w-50"><a th:href="@{'/work-order/' + ${workorder.id}}" class="nav-link">Work Order Link</a></li>-->
                <!--<li class="nav-item font-weight-bold w-50"><a th:href="@{'/work-order/' + ${workorder.id} + '/edit'}" class="nav-link">Edit Work Order</a></li>-->
            </ul>
        </ul>
    </div>
</div>
<hr/>
<h3 class="text-center text-light text-underline"><u>Processing</u></h3>

<div class="row justify-content-center">
    <div class="card m-1" style="width: 18rem;background-color:#e8dbeb" th:each="workorder : ${processing}">
        <ul class="card-body d-flex flex-column" >
            <p th:text="${'Submitted Date: ' + #dates.format(workorder.submittedDate, 'dd-MM-yyyy')}"></p>
            <p>Status: <span th:text="${workorder.status.name}"></span></p>
            <p>Category: <span th:text="${workorder.category.name}"></span></p>
            <p>Description: <span th:text="${workorder.description}"></span></p>
            <p>Notes: <span th:text="${workorder.notes}"></span></p>
            <p>Employee: <span th:text="${workorder.employee.firstName + ' ' + workorder.employee.lastName}"></span></p>
            <ul class="nav nav-pills justify-content-center mt-auto form-group">
                <li><a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm mr-2">View</button></a></li>
                <li><a th:href="@{/work-order/{id}/edit(id=${workorder.id})}"><button class="btn btn-primary btn-sm">Edit</button></a></li>
                <!--<li class="nav-item font-weight-bold w-50"><a th:href="@{'/work-order/' + ${workorder.id}}" class="nav-link">Work Order Link</a></li>-->
                <!--<li class="nav-item font-weight-bold w-50"><a th:href="@{'/work-order/' + ${workorder.id} + '/edit'}" class="nav-link">Edit Work Order</a></li>-->
            </ul>
        </ul>
    </div>
</div>
<hr/>
<h3 class="text-center text-light text-underline"><u>Review</u></h3>

<div class="row justify-content-center">
    <div class="card m-1" style="width: 18rem;background-color:#f1d4d0" th:each="workorder : ${review}">
        <ul class="card-body d-flex flex-column">
            <p th:text="${'Submitted Date: ' + #dates.format(workorder.submittedDate, 'dd-MM-yyyy')}"></p>
            <p>Status: <span th:text="${workorder.status.name}"></span></p>
            <p>Category: <span th:text="${workorder.category.name}"></span></p>
            <p>Description: <span th:text="${workorder.description}"></span></p>
            <p>Notes: <span th:text="${workorder.notes}"></span></p>
            <p>Employee: <span th:text="${workorder.employee.firstName + ' ' + workorder.employee.lastName}"></span></p>
            <ul class="nav nav-pills justify-content-center mt-auto form-group">
                <li><a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm mr-2">View</button></a></li>
                <li><a th:href="@{/work-order/{id}/edit(id=${workorder.id})}"><button class="btn btn-primary btn-sm">Edit</button></a></li>
                <!--<li class="nav-item font-weight-bold w-50"><a th:href="@{'/work-order/' + ${workorder.id}}" class="nav-link">Work Order Link</a></li>-->
                <!--<li class="nav-item font-weight-bold w-50"><a th:href="@{'/work-order/' + ${workorder.id} + '/edit'}" class="nav-link">Edit Work Order</a></li>-->
            </ul>
        </ul>
    </div>
</div>
<hr/>
<h3 class="text-center text-light text-underline"><u>Completed</u></h3>

<div class="row justify-content-center">
    <div class="card m-1" style="width:18rem;background-color:#dde9d0" th:each="workorder : ${complete}">
        <ul class="card-body d-flex flex-column" >
            <p th:text="${'Submitted Date: ' + #dates.format(workorder.submittedDate, 'dd-MM-yyyy')}"></p>
            <p>Status: <span th:text="${workorder.status.name}"></span></p>
            <p>Category: <span th:text="${workorder.category.name}"></span></p>
            <p>Description: <span th:text="${workorder.description}"></span></p>
            <p>Notes: <span th:text="${workorder.notes}"></span></p>
            <p>Employee: <span th:text="${workorder.employee.firstName + ' ' + workorder.employee.lastName}"></span></p>
            <ul class="nav nav-pills justify-content-center mt-auto form-group">
                <li><a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm mr-2">View</button></a></li>
                <li><a th:href="@{/work-order/{id}/edit(id=${workorder.id})}"><button class="btn btn-primary btn-sm">Edit</button></a></li>
                <!--<li class="nav-item font-weight-bold w-50"><a th:href="@{'/work-order/' + ${workorder.id}}" class="nav-link">Work Order Link</a></li>-->
                <!--<li class="nav-item font-weight-bold w-50"><a th:href="@{'/work-order/' + ${workorder.id} + '/edit'}" class="nav-link">Edit Work Order</a></li>-->
            </ul>
        </ul>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#allOrders">All Orders</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#submittedOrders">Submitted</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#processingOrders">Processing</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#reviewedOrders">Reviewed</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#cancelledOrders">Canceled</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#completedOrders">Complete Orders</a>
    </li>
</ul>

<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade mt-4" id="allOrders">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#allCard">Card View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#aAllTable">Table View</a>
            </li>
        </ul>
        <div id="tabAllSubContent" class="tab-content">
            <div class="tab-pane fade mt-4" id="allCard">
                <div class="row justify-content-center">
                    <div class="card m-1" style="width:30%" th:each="workorder : ${all}">
                        <ul class="card-body d-flex flex-column">
                            <p th:text="${'Submitted Date: ' + #dates.format(workorder.submittedDate, 'dd-MM-yyyy')}"></p>
                            <p>Status: <span th:text="${workorder.status.name}"></span></p>
                            <p>Category: <span th:text="${workorder.category.name}"></span></p>
                            <p>Description: <span th:text="${workorder.description}"></span></p>
                            <p>Notes: <span th:text="${workorder.notes}"></span></p>
                            <p>Employee: <span th:text="${workorder.employee}"></span></p>
                            <ul class="nav nav-pills justify-content-center mt-auto form-group">
                                <li><a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm mr-2">View</button></a></li>
                                <li><a th:href="@{/work-order/{id}/edit(id=${workorder.id})}"><button class="btn btn-primary btn-sm">Edit</button></a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade mt-4" id="aAllTable">
                <table class="table table-hover">
                    <tr class="table-primary">
                        <th scope="col">Submitted</th>
                        <th scope="col">Created By</th>
                        <th scope="col">Category</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                    <tr style="font-size:15px" th:each="order : ${all}">
                        <td scope="row" th:text="${#dates.format(order.submittedDate, 'dd-MMM-yyyy')}"></td>
                        <td th:text="${order.customer.firstName + ' ' + order.customer.lastName}"></td>
                        <td th:text="${order.category.name}"></td>
                        <td th:text="${order.status.name}"></td>
                        <td><a th:href="@{/work-order/{id}(id=${order.id})}"><button class="btn btn-primary btn-sm mr-2">View</button></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade mt-4" id="submittedOrders">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active show" data-toggle="tab" href="#card">Card View</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#aTable">Table View</a>
                </li>
            </ul>
            <div id="tabSubContent" class="tab-content">
                <div class="tab-pane fade mt-4" id="card">
                        <div class="row justify-content-center">
                            <div class="card m-1" style="width:30%;background-color:#d2eaf4" th:each="workorder : ${submitted}">
                                <ul class="card-body d-flex flex-column">
                                    <p th:text="${'Submitted Date: ' + #dates.format(workorder.submittedDate, 'dd-MM-yyyy')}"></p>
                                    <p>Status: <span th:text="${workorder.status.name}"></span></p>
                                    <p>Category: <span th:text="${workorder.category.name}"></span></p>
                                    <p>Description: <span th:text="${workorder.description}"></span></p>
                                    <p>Notes: <span th:text="${workorder.notes}"></span></p>
                                    <p>Employee: <span th:text="${workorder.employee}"></span></p>
                                    <ul class="nav nav-pills justify-content-center mt-auto form-group">
                                        <li><a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm mr-2">View</button></a></li>
                                        <li><a th:href="@{/work-order/{id}/edit(id=${workorder.id})}"><button class="btn btn-primary btn-sm">Edit</button></a></li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                </div>
                <div class="tab-pane fade mt-4" id="aTable">
                        <table class="table table-hover">
                            <tr class="table-primary">
                                <th scope="col">Submitted</th>
                                <th scope="col">Created By</th>
                                <th scope="col">Category</th>
                                <th scope="col">Status</th>
                                <th scope="col"></th>
                            </tr>
                            <tr style="font-size:15px" th:each="order : ${submitted}">
                                <td scope="row" th:text="${#dates.format(order.submittedDate, 'dd-MMM-yyyy')}"></td>
                                <td th:text="${order.customer.firstName + ' ' + order.customer.lastName}"></td>
                                <td th:text="${order.category.name}"></td>
                                <td th:text="${order.status.name}"></td>
                                <td><a th:href="@{/work-order/{id}(id=${order.id})}"><button class="btn btn-primary btn-sm mr-2">View</button></a></td>
                            </tr>
                        </table>
                </div>
            </div>
    </div>
    <div class="tab-pane fade mt-4" id="processingOrders">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#card3">Card View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#aTable3">Table View</a>
            </li>
        </ul>
        <div id="tab3SubContent" class="tab-content">
            <div class="tab-pane fade mt-4" id="card3">
                <div class="row justify-content-center">
                    <div class="card m-1" style="width:30%;background-color:#e8dbeb" th:each="workorder : ${processing}">
                        <ul class="card-body d-flex flex-column">
                            <p th:text="${'Submitted Date: ' + #dates.format(workorder.submittedDate, 'dd-MM-yyyy')}"></p>
                            <p>Status: <span th:text="${workorder.status.name}"></span></p>
                            <p>Category: <span th:text="${workorder.category.name}"></span></p>
                            <p>Description: <span th:text="${workorder.description}"></span></p>
                            <p>Notes: <span th:text="${workorder.notes}"></span></p>
                            <p>Employee: <span th:text="${workorder.employee}"></span></p>
                            <ul class="nav nav-pills justify-content-center mt-auto form-group">
                                <li><a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm mr-2">View</button></a></li>
                                <li><a th:href="@{/work-order/{id}/edit(id=${workorder.id})}"><button class="btn btn-primary btn-sm">Edit</button></a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade mt-4" id="aTable3">
                <table class="table table-hover">
                    <tr class="table-primary">
                        <th scope="col">Submitted</th>
                        <th scope="col">Created By</th>
                        <th scope="col">Category</th>
                        <th scope="col">Status</th>
                        <th scope="col">View</th>
                    </tr>
                    <tr style="font-size:15px" th:each="order : ${processing}">
                        <td scope="row" th:text="${#dates.format(order.submittedDate, 'dd-MMM-yyyy')}"></td>
                        <td th:text="${order.customer.firstName + ' ' + order.customer.lastName}"></td>
                        <td th:text="${order.category.name}"></td>
                        <td th:text="${order.status.name}"></td>
                        <td><a th:href="@{/work-order/{id}(id=${order.id})}"><button class="btn btn-primary btn-sm mr-2">View</button></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade mt-4" id="reviewedOrders">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#card4">Card View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#aTable4">Table View</a>
            </li>
        </ul>
        <div id="tab4SubContent" class="tab-content">
            <div class="tab-pane fade mt-4" id="card4">
                <div class="row justify-content-center">
                    <div class="card m-1" style="width:30%;background-color:#f1d4d0" th:each="workorder : ${review}">
                        <ul class="card-body d-flex flex-column">
                            <p th:text="${'Submitted Date: ' + #dates.format(workorder.submittedDate, 'dd-MM-yyyy')}"></p>
                            <p>Status: <span th:text="${workorder.status.name}"></span></p>
                            <p>Category: <span th:text="${workorder.category.name}"></span></p>
                            <p>Description: <span th:text="${workorder.description}"></span></p>
                            <p>Notes: <span th:text="${workorder.notes}"></span></p>
                            <p>Employee: <span th:text="${workorder.employee}"></span></p>
                            <ul class="nav nav-pills justify-content-center mt-auto form-group">
                                <li><a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm mr-2">View</button></a></li>
                                <li><a th:href="@{/work-order/{id}/edit(id=${workorder.id})}"><button class="btn btn-primary btn-sm">Edit</button></a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade mt-4" id="aTable4">
                <table class="table table-hover">
                    <tr class="table-primary">
                        <th scope="col">Submitted</th>
                        <th scope="col">Created By</th>
                        <th scope="col">Category</th>
                        <th scope="col">Status</th>
                        <th scope="col">View</th>
                    </tr>
                    <tr style="font-size:15px" th:each="order : ${review}">
                        <td scope="row" th:text="${#dates.format(order.submittedDate, 'dd-MMM-yyyy')}"></td>
                        <td th:text="${order.customer.firstName + ' ' + order.customer.lastName}"></td>
                        <td th:text="${order.category.name}"></td>
                        <td th:text="${order.status.name}"></td>
                        <td><a th:href="@{/work-order/{id}(id=${order.id})}"><button class="btn btn-primary btn-sm mr-2">View</button></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade mt-4" id="completedOrders">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#card5">Card View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#aTable5">Table View</a>
            </li>
        </ul>
        <div id="tab5SubContent" class="tab-content">
            <div class="tab-pane fade mt-4" id="card5">
                <div class="row justify-content-center">
                    <div class="card m-1" style="width:30%;background-color:#dde9d0" th:each="workorder : ${complete}">
                        <ul class="card-body d-flex flex-column">
                            <p th:text="${'Submitted Date: ' + #dates.format(workorder.submittedDate, 'dd-MM-yyyy')}"></p>
                            <p>Status: <span th:text="${workorder.status.name}"></span></p>
                            <p>Category: <span th:text="${workorder.category.name}"></span></p>
                            <p>Description: <span th:text="${workorder.description}"></span></p>
                            <p>Notes: <span th:text="${workorder.notes}"></span></p>
                            <p>Employee: <span th:text="${workorder.employee}"></span></p>
                            <ul class="nav nav-pills justify-content-center mt-auto form-group">
                                <li><a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm mr-2">View</button></a></li>
                                <li><a th:href="@{/work-order/{id}/edit(id=${workorder.id})}"><button class="btn btn-primary btn-sm">Edit</button></a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade mt-4" id="aTable5">
                <table class="table table-hover">
                    <tr class="table-primary">
                        <th scope="col">Submitted</th>
                        <th scope="col">Created By</th>
                        <th scope="col">Category</th>
                        <th scope="col">Status</th>
                        <th scope="col">View</th>
                    </tr>
                    <tr style="font-size:15px" th:each="order : ${complete}">
                        <td scope="row" th:text="${#dates.format(order.submittedDate, 'dd-MMM-yyyy')}"></td>
                        <td th:text="${order.customer.firstName + ' ' + order.customer.lastName}"></td>
                        <td th:text="${order.category.name}"></td>
                        <td th:text="${order.status.name}"></td>
                        <td><a th:href="@{/work-order/{id}(id=${order.id})}"><button class="btn btn-primary btn-sm mr-2">View</button></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade mt-4" id="cancelledOrders">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#card6">Card View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#aTable6">Table View</a>
            </li>
        </ul>
        <div id="tab6SubContent" class="tab-content">
            <div class="tab-pane fade mt-4" id="card6">
                <div class="row justify-content-center">
                    <div class="card m-1" style="width:30%;" th:each="workorder : ${cancelled}">
                        <ul class="card-body d-flex flex-column">
                            <p th:text="${'Submitted Date: ' + #dates.format(workorder.submittedDate, 'dd-MM-yyyy')}"></p>
                            <p>Status: <span th:text="${workorder.status.name}"></span></p>
                            <p>Category: <span th:text="${workorder.category.name}"></span></p>
                            <p>Description: <span th:text="${workorder.description}"></span></p>
                            <p>Notes: <span th:text="${workorder.notes}"></span></p>
                            <p>Employee: <span th:text="${workorder.employee}"></span></p>
                            <ul class="nav nav-pills justify-content-center mt-auto form-group">
                                <li><a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm mr-2">View</button></a></li>
                                <li><a th:href="@{/work-order/{id}/edit(id=${workorder.id})}"><button class="btn btn-primary btn-sm">Edit</button></a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade mt-4" id="aTable6">
                <table class="table table-hover">
                    <tr class="table-primary">
                        <th scope="col">Submitted</th>
                        <th scope="col">Created By</th>
                        <th scope="col">Category</th>
                        <th scope="col">Status</th>
                        <th scope="col">View</th>
                    </tr>
                    <tr style="font-size:15px" th:each="order : ${cancelled}">
                        <td scope="row" th:text="${#dates.format(order.submittedDate, 'dd-MMM-yyyy')}"></td>
                        <td th:text="${order.customer.firstName + ' ' + order.customer.lastName}"></td>
                        <td th:text="${order.category.name}"></td>
                        <td th:text="${order.status.name}"></td>
                        <td><a th:href="@{/work-order/{id}(id=${order.id})}"><button class="btn btn-primary btn-sm mr-2">View</button></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

    <!--THIS IS WORKING FORMAT FOR CANCEL ORDER DISPLAY-->

<!--<h3 class="text-center text-light text-underline"><u>Cancelled</u></h3>-->
<!--<div class="row justify-content-center">-->
    <!--<div class="card m-1" style="width: 18rem;" th:each="workorder : ${cancelled}">-->
        <!--<ul class="card-body d-flex flex-column" >-->
            <!--<p th:text="${'Submitted Date: ' + #dates.format(workorder.submittedDate, 'dd-MM-yyyy')}"></p>-->
            <!--<p>Status: <span th:text="${workorder.status.name}"></span></p>-->
            <!--<p>Category: <span th:text="${workorder.category.name}"></span></p>-->
            <!--<p>Description: <span th:text="${workorder.description}"></span></p>-->
            <!--<p>Notes: <span th:text="${workorder.notes}"></span></p>-->
            <!--<p>Employee: <span th:text="${workorder.employee.firstName + ' ' + workorder.employee.lastName}"></span></p>-->
            <!--<ul class="nav nav-pills justify-content-center mt-auto form-group">-->
                <!--<li><a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm mr-2">View</button></a></li>-->
                <!--<li><a th:href="@{/work-order/{id}/edit(id=${workorder.id})}"><button class="btn btn-primary btn-sm">Edit</button></a></li>-->
                <!--&lt;!&ndash;<li class="nav-item font-weight-bold w-50"><a th:href="@{'/work-order/' + ${workorder.id}}" class="nav-link">Work Order Link</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li class="nav-item font-weight-bold w-50"><a th:href="@{'/work-order/' + ${workorder.id} + '/edit'}" class="nav-link">Edit Work Order</a></li>&ndash;&gt;-->
            <!--</ul>-->
        <!--</ul>-->
    <!--</div>-->
<!--<div th:replace="partials :: myNav"></div>-->
<!--<div class="container">-->
<!--<h1 class="my-4">List of Work Orders</h1>-->
    <!--<th:block th:each="workorder : ${workorders}">-->
        <!--<div class="card p-4 mb-3" th:if="${workorder.status.name eq 'SUBMITTED'}" style="background-color:#d2eaf4">-->
            <!--&lt;!&ndash;<div class="card p-4 mb-3" th:each="workorder : ${workorders}">&ndash;&gt;-->

            <!--<h2 th:text="${workorder.category.name}"></h2>-->
            <!--<p th:text="${workorder.description}"></p>-->
            <!--<p th:text="${'Submitted on: ' + #dates.format(workorder.submittedDate, 'dd-MMM-yyyy')}"></p>-->
            <!--<p th:text="${'Status: ' + workorder.status.name}"></p>-->
            <!--<a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm">View</button></a>-->
            <!--&lt;!&ndash;<p th:text="${post.user.email}"></p>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="/posts/{id}/edit" th:href="@{/posts/{id}/edit(id=${post.id})}">edit post</a>&ndash;&gt;-->
            <!--&lt;!&ndash;<br />&ndash;&gt;-->
        <!--</div>-->
    <!--</th:block>-->
    <!--<th:block th:each="workorder : ${workorders}">-->
        <!--<div class="card p-4 mb-3" th:if="${workorder.status.name eq 'PENDING ASSIGNMENT'}" style="background-color:#f4e6d4">-->
            <!--&lt;!&ndash;<div class="card p-4 mb-3" th:each="workorder : ${workorders}">&ndash;&gt;-->

            <!--<h2 th:text="${workorder.category.name}"></h2>-->
            <!--<p th:text="${workorder.description}"></p>-->
            <!--<p th:text="${'Submitted on: ' + #dates.format(workorder.submittedDate, 'dd-MMM-yyyy')}"></p>-->
            <!--<p th:text="${'Status: ' + workorder.status.name}"></p>-->
            <!--<a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm">View</button></a>-->
            <!--&lt;!&ndash;<p th:text="${post.user.email}"></p>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="/posts/{id}/edit" th:href="@{/posts/{id}/edit(id=${post.id})}">edit post</a>&ndash;&gt;-->
            <!--&lt;!&ndash;<br />&ndash;&gt;-->
        <!--</div>-->
    <!--</th:block>-->
    <!--<th:block th:each="workorder : ${workorders}">-->
        <!--<div class="card p-4 mb-3" th:if="${workorder.status.name eq 'PROCESSING'}" style="background-color:#e8dbeb">-->
            <!--&lt;!&ndash;<div class="card p-4 mb-3" th:each="workorder : ${workorders}">&ndash;&gt;-->

            <!--<h2 th:text="${workorder.category.name}"></h2>-->
            <!--<p th:text="${workorder.description}"></p>-->
            <!--<p th:text="${'Submitted on: ' + #dates.format(workorder.submittedDate, 'dd-MMM-yyyy')}"></p>-->
            <!--<p th:text="${'Status: ' + workorder.status.name}"></p>-->
            <!--<a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm">View</button></a>-->
            <!--&lt;!&ndash;<p th:text="${post.user.email}"></p>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="/posts/{id}/edit" th:href="@{/posts/{id}/edit(id=${post.id})}">edit post</a>&ndash;&gt;-->
            <!--&lt;!&ndash;<br />&ndash;&gt;-->
        <!--</div>-->
    <!--</th:block>-->
    <!--<th:block th:each="workorder : ${workorders}">-->
        <!--<div class="card p-4 mb-3" th:if="${workorder.status.name eq 'REVIEW'}" style="background-color:#f1d4d0">-->
            <!--&lt;!&ndash;<div class="card p-4 mb-3" th:each="workorder : ${workorders}">&ndash;&gt;-->

            <!--<h2 th:text="${workorder.category.name}"></h2>-->
            <!--<p th:text="${workorder.description}"></p>-->
            <!--<p th:text="${'Submitted on: ' + #dates.format(workorder.submittedDate, 'dd-MMM-yyyy')}"></p>-->
            <!--<p th:text="${'Status: ' + workorder.status.name}"></p>-->
            <!--<a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm">View</button></a>-->
            <!--&lt;!&ndash;<p th:text="${post.user.email}"></p>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="/posts/{id}/edit" th:href="@{/posts/{id}/edit(id=${post.id})}">edit post</a>&ndash;&gt;-->
            <!--&lt;!&ndash;<br />&ndash;&gt;-->
        <!--</div>-->
    <!--</th:block>-->
    <!--<th:block th:each="workorder : ${workorders}">-->
        <!--<div class="card p-4 mb-3" th:if="${workorder.status.name eq 'COMPLETE'}" style="background-color:#dde9d0">-->
    <!--&lt;!&ndash;<div class="card p-4 mb-3" th:each="workorder : ${workorders}">&ndash;&gt;-->

        <!--<h2 th:text="${workorder.category.name}"></h2>-->
        <!--<p th:text="${workorder.description}"></p>-->
        <!--<p th:text="${'Submitted on: ' + #dates.format(workorder.submittedDate, 'dd-MMM-yyyy')}"></p>-->
        <!--<p th:text="${'Status: ' + workorder.status.name}"></p>-->
        <!--<a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm">View</button></a>-->
        <!--&lt;!&ndash;<p th:text="${post.user.email}"></p>&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="/posts/{id}/edit" th:href="@{/posts/{id}/edit(id=${post.id})}">edit post</a>&ndash;&gt;-->
        <!--&lt;!&ndash;<br />&ndash;&gt;-->

        <!--</div>-->
    <!--</th:block>-->




<!--<div th:replace="partials :: myNav"></div>-->
<!--<div class="container">-->
<!--<h1 class="my-4">List of Work Orders</h1>-->
<!--<th:block th:each="workorder : ${workorders}">-->
<!--<div class="card p-4 mb-3" th:if="${workorder.status.name eq 'SUBMITTED'}" style="background-color:#d2eaf4">-->
<!--&lt;!&ndash;<div class="card p-4 mb-3" th:each="workorder : ${workorders}">&ndash;&gt;-->

<!--<h2 th:text="${workorder.category.name}"></h2>-->
<!--<p th:text="${workorder.description}"></p>-->
<!--<p th:text="${'Submitted on: ' + #dates.format(workorder.submittedDate, 'dd-MMM-yyyy')}"></p>-->
<!--<p th:text="${'Status: ' + workorder.status.name}"></p>-->
<!--<a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm">View</button></a>-->
<!--&lt;!&ndash;<p th:text="${post.user.email}"></p>&ndash;&gt;-->
<!--&lt;!&ndash;<a href="/posts/{id}/edit" th:href="@{/posts/{id}/edit(id=${post.id})}">edit post</a>&ndash;&gt;-->
<!--&lt;!&ndash;<br />&ndash;&gt;-->
<!--</div>-->
<!--</th:block>-->
<!--<th:block th:each="workorder : ${workorders}">-->
<!--<div class="card p-4 mb-3" th:if="${workorder.status.name eq 'PENDING ASSIGNMENT'}" style="background-color:#f4e6d4">-->
<!--&lt;!&ndash;<div class="card p-4 mb-3" th:each="workorder : ${workorders}">&ndash;&gt;-->

<!--<h2 th:text="${workorder.category.name}"></h2>-->
<!--<p th:text="${workorder.description}"></p>-->
<!--<p th:text="${'Submitted on: ' + #dates.format(workorder.submittedDate, 'dd-MMM-yyyy')}"></p>-->
<!--<p th:text="${'Status: ' + workorder.status.name}"></p>-->
<!--<a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm">View</button></a>-->
<!--&lt;!&ndash;<p th:text="${post.user.email}"></p>&ndash;&gt;-->
<!--&lt;!&ndash;<a href="/posts/{id}/edit" th:href="@{/posts/{id}/edit(id=${post.id})}">edit post</a>&ndash;&gt;-->
<!--&lt;!&ndash;<br />&ndash;&gt;-->
<!--</div>-->
<!--</th:block>-->
<!--<th:block th:each="workorder : ${workorders}">-->
<!--<div class="card p-4 mb-3" th:if="${workorder.status.name eq 'PROCESSING'}" style="background-color:#e8dbeb">-->
<!--&lt;!&ndash;<div class="card p-4 mb-3" th:each="workorder : ${workorders}">&ndash;&gt;-->

<!--<h2 th:text="${workorder.category.name}"></h2>-->
<!--<p th:text="${workorder.description}"></p>-->
<!--<p th:text="${'Submitted on: ' + #dates.format(workorder.submittedDate, 'dd-MMM-yyyy')}"></p>-->
<!--<p th:text="${'Status: ' + workorder.status.name}"></p>-->
<!--<a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm">View</button></a>-->
<!--&lt;!&ndash;<p th:text="${post.user.email}"></p>&ndash;&gt;-->
<!--&lt;!&ndash;<a href="/posts/{id}/edit" th:href="@{/posts/{id}/edit(id=${post.id})}">edit post</a>&ndash;&gt;-->
<!--&lt;!&ndash;<br />&ndash;&gt;-->
<!--</div>-->
<!--</th:block>-->
<!--<th:block th:each="workorder : ${workorders}">-->
<!--<div class="card p-4 mb-3" th:if="${workorder.status.name eq 'REVIEW'}" style="background-color:#f1d4d0">-->
<!--&lt;!&ndash;<div class="card p-4 mb-3" th:each="workorder : ${workorders}">&ndash;&gt;-->

<!--<h2 th:text="${workorder.category.name}"></h2>-->
<!--<p th:text="${workorder.description}"></p>-->
<!--<p th:text="${'Submitted on: ' + #dates.format(workorder.submittedDate, 'dd-MMM-yyyy')}"></p>-->
<!--<p th:text="${'Status: ' + workorder.status.name}"></p>-->
<!--<a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm">View</button></a>-->
<!--&lt;!&ndash;<p th:text="${post.user.email}"></p>&ndash;&gt;-->
<!--&lt;!&ndash;<a href="/posts/{id}/edit" th:href="@{/posts/{id}/edit(id=${post.id})}">edit post</a>&ndash;&gt;-->
<!--&lt;!&ndash;<br />&ndash;&gt;-->
<!--</div>-->
<!--</th:block>-->
<!--<th:block th:each="workorder : ${workorders}">-->
<!--<div class="card p-4 mb-3" th:if="${workorder.status.name eq 'COMPLETE'}" style="background-color:#dde9d0">-->
<!--&lt;!&ndash;<div class="card p-4 mb-3" th:each="workorder : ${workorders}">&ndash;&gt;-->

<!--<h2 th:text="${workorder.category.name}"></h2>-->
<!--<p th:text="${workorder.description}"></p>-->
<!--<p th:text="${'Submitted on: ' + #dates.format(workorder.submittedDate, 'dd-MMM-yyyy')}"></p>-->
<!--<p th:text="${'Status: ' + workorder.status.name}"></p>-->
<!--<a th:href="@{/work-order/{id}(id=${workorder.id})}"><button class="btn btn-primary btn-sm">View</button></a>-->
<!--&lt;!&ndash;<p th:text="${post.user.email}"></p>&ndash;&gt;-->
<!--&lt;!&ndash;<a href="/posts/{id}/edit" th:href="@{/posts/{id}/edit(id=${post.id})}">edit post</a>&ndash;&gt;-->
<!--&lt;!&ndash;<br />&ndash;&gt;-->

<!--</div>-->
<!--</th:block>-->
    </div>
</div>
</div>
<th:block th:replace="partials :: scripts" />

</body>
</html>