<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials :: head('WasteManagement')"/>
<body>

<div th:replace="partials :: myNav"></div>
<div class="container">
    <!--<h1>Search Results</h1>-->
    <h1 class="text-center mt-3" style="padding-bottom:2rem;padding-top:2rem">Search Results</h1>
    <hr/>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#searchByIdResults">Work Order ID</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#searchZipResults">Zip Code</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#searchDescNotesResults">Description/ Notes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#searchByStreetResults">Street Name</a>
        </li>
    </ul>

    <div id="myTabContent" class="tab-content fade active show">

        <div class="tab-pane fade active show mt-4 active" id="searchByIdResults">

            <h3 class="my-3">Work Order Id Results</h3>
            <div class="row">
            <div class="card m-1" style="width:30%" th:each="workorder : ${searchByIdResults}">
                <ul class="card-body d-flex flex-column">
                    <p th:text="${'Submitted Date: ' + #dates.format(workorder.submittedDate, 'dd-MM-yyyy')}"></p>
                    <p>Status: <span th:text="${workorder.status.name}"></span></p>
                    <p>Category: <span th:text="${workorder.category.name}"></span></p>
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <p>Address: <span th:text="${workorder.streetNumber + ' ' + workorder.streetName}"></span></p>
                    </div>
                    <p>Description: <span th:text="${workorder.description}"></span></p>
                    <p>Notes: <span th:text="${workorder.notes}"></span></p>
                    <p>Employee: <span th:text="${workorder.employee.firstName + ' ' + workorder.employee.lastName}"></span></p>
                    <ul class="nav nav-pills justify-content-center mt-auto form-group">
                        <li><a th:href="@{/work-order/{id}(id=${workorder.id})}">
                            <button class="btn btn-darkRed btn-sm mr-2">View</button>
                        </a></li>
                        <li><a th:href="@{/work-order/{id}/edit(id=${workorder.id})}">
                            <button class="btn btn-danger btn-sm">Edit</button>
                        </a></li>
                    </ul>
                </ul>
            </div>
            </div>
        </div>

        <div class="tab-pane fade mt-4" id="searchZipResults">

            <h3 class="my-3">Work Order Zip Code Results</h3>
            <div class="row">
            <div class="card m-1" style="width:30%" th:each="workorder : ${searchByZipResults}">
                <ul class="card-body d-flex flex-column">
                    <p th:text="${'Submitted Date: ' + #dates.format(workorder.submittedDate, 'dd-MM-yyyy')}"></p>
                    <p>Status: <span th:text="${workorder.status.name}"></span></p>
                    <p>Category: <span th:text="${workorder.category.name}"></span></p>
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <p>Address: <span th:text="${workorder.streetNumber + ' ' + workorder.streetName}"></span></p>
                    </div>
                    <p>Description: <span th:text="${workorder.description}"></span></p>
                    <p>Notes: <span th:text="${workorder.notes}"></span></p>
                    <p>Employee: <span th:text="${workorder.employee.firstName + ' ' + workorder.employee.lastName}"></span></p>
                    <ul class="nav nav-pills justify-content-center mt-auto form-group">
                        <li><a th:href="@{/work-order/{id}(id=${workorder.id})}">
                            <button class="btn btn-darkRed btn-sm mr-2">View</button>
                        </a></li>
                        <li><a th:href="@{/work-order/{id}/edit(id=${workorder.id})}">
                            <button class="btn btn-danger btn-sm">Edit</button>
                        </a></li>
                    </ul>
                </ul>
            </div>
            </div>
        </div>
        <div class="tab-pane fade mt-4" id="searchDescNotesResults">
            <h3 class="my-3">Work Order Description/ Notes Results</h3>
            <div class="row">
            <div class="card m-1" style="width:30%" th:each="workorder : ${searchDescNotesResults}">
                <ul class="card-body d-flex flex-column">
                    <p th:text="${'Submitted Date: ' + #dates.format(workorder.submittedDate, 'dd-MM-yyyy')}"></p>
                    <p>Status: <span th:text="${workorder.status.name}"></span></p>
                    <p>Category: <span th:text="${workorder.category.name}"></span></p>
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <p>Address: <span th:text="${workorder.streetNumber + ' ' + workorder.streetName}"></span></p>
                    </div>
                    <p>Description: <span th:text="${workorder.description}"></span></p>
                    <p>Notes: <span th:text="${workorder.notes}"></span></p>
                    <p>Employee: <span th:text="${workorder.employee.firstName + ' ' + workorder.employee.lastName}"></span></p>
                    <ul class="nav nav-pills justify-content-center mt-auto form-group">
                        <li><a th:href="@{/work-order/{id}(id=${workorder.id})}">
                            <button class="btn btn-darkRed btn-sm mr-2">View</button>
                        </a></li>
                        <li><a th:href="@{/work-order/{id}/edit(id=${workorder.id})}">
                            <button class="btn btn-danger btn-sm">Edit</button>
                        </a></li>
                    </ul>
                </ul>
            </div>
            </div>
        </div>
        <div class="tab-pane fade mt-4" id="searchByStreetResults">
            <h3 class="my-3">Street Name Search Results</h3>
            <div class="row">
            <div class="card m-1" style="width:30%" th:each="workorder : ${searchByStreetResults}">
                <ul class="card-body d-flex flex-column">
                    <p th:text="${'Submitted Date: ' + #dates.format(workorder.submittedDate, 'dd-MM-yyyy')}"></p>
                    <p>Status: <span th:text="${workorder.status.name}"></span></p>
                    <p>Category: <span th:text="${workorder.category.name}"></span></p>
                    <div sec:authorize="hasRole('ROLE_ADMIN' or 'ROLE_EDITOR')">
                        <p>Address: <span th:text="${workorder.streetNumber + ' ' + workorder.streetName}"></span></p>
                    </div>
                    <p>Description: <span th:text="${workorder.description}"></span></p>
                    <p>Notes: <span th:text="${workorder.notes}"></span></p>
                    <p>Employee: <span th:text="${workorder.employee.firstName + ' ' + workorder.employee.lastName}"></span></p>
                    <ul class="nav nav-pills justify-content-center mt-auto form-group">
                        <li><a th:href="@{/work-order/{id}(id=${workorder.id})}">
                            <button class="btn btn-darkRed btn-sm mr-2">View</button>
                        </a></li>
                        <li><a th:href="@{/work-order/{id}/edit(id=${workorder.id})}">
                            <button class="btn btn-danger btn-sm">Edit</button>
                        </a></li>
                    </ul>
                </ul>
            </div>
        </div>
        </div>
    </div>
</div>
<th:block th:replace="partials :: scripts"/>
</body>
</html>