<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('WasteManagement')" />
<body>

<div th:replace="partials :: myNav"></div>
<div class="container">
    <h1 class="my-4 text-center text-light"><span th:text="${'Work Order ID: ' + workorder.id}"></span></h1>


    <!--<div class="w-100 row justify-content-center">-->
        <div class="card m-1 w-100 justify-content-center" style="width: 18rem">
            <div class="card-body">
                <p class="card-title"><b>Submitted Date:</b> <span class="font-italic" th:text="${#dates.format(workorder.submittedDate, 'dd-MMM-yyyy')}"></span></p>
                <p class="card-title"><b>Description:</b> <span class="font-italic" th:text="${workorder.description}"></span></p>
                <p class="card-text"><b>Notes:</b> <span th:text="${workorder.notes}"></span></p>
                <p class="card-text"><b>Category:</b> <span th:text="${workorder.category.name}"></span></p>
                <p class="card-title"><b>Work Order Status:</b> <span class="font-italic" th:text="${workorder.status.name}"></span></p>
                <p class="card-text"><b>Customer:</b> <span th:text="${workorder.customer.firstName + ' ' + workorder.customer.lastName}"></span></p>
                <p class="card-text"><b>Assigned Employee:</b> <span th:text="${workorder.employee.firstName + ' ' + workorder.employee.lastName}"></span></p>

                <p class="card-title"><b>Street Number:</b> <span class="font-italic" th:text="${workorder.streetNumber}"></span></p>
                <p class="card-text"><b>Street Name:</b> <span th:text="${workorder.streetName}"></span></p>
                <p class="card-text"><b>Zip Code:</b> <span th:text="${workorder.zipCode}"></span></p>
                <ul class="nav nav-pills justify-content-center mt-auto form-group">
                    <li class="nav-item font-weight-bold w-50"><a th:href="@{'/work-order/' + ${workorder.id} + '/edit'}" class="nav-link">Edit Work Order</a></li>
                    <li class="nav-item font-weight-bold w-50"><a th:href="@{'/workorders/'}" class="nav-link">All Work Orders</a></li>
                </ul>
            </div>
        </div>
    <!--</div>-->

<th:block th:replace="partials :: scripts" />
</div>
</body>
</html>