<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head('WorkOrder')"></head>
<body>
    <div th:replace="fragments/navbar :: myNav"></div>
    <h1 class="text-center text-light">A single work order page</h1>


    <div class="row justify-content-center">
        <div class="card m-1" style="width: 18rem">
            <div class="card-body">
                <p class="card-title"><b>Submitted Date:</b> <span class="font-italic" th:text="${workorder.submittedDate}"></span></p>

                <p class="card-title"><b>Description:</b> <span class="font-italic" th:text="${workorder.description}"></span></p>
                <p class="card-text"><b>Notes:</b> <span th:text="${workorder.notes}"></span></p>
                <p class="card-text"><b>Category:</b> <span th:text="${workorder.category.name}"></span></p>
                <p class="card-title"><b>Work Order Status:</b> <span class="font-italic" th:text="${workorder.status.name}"></span></p>
                <p class="card-text"><b>Customer:</b> <span th:text="${workorder.customer.lastName}"></span></p>
                <p class="card-text"><b>Assigned Employee:</b> <span th:text="${workorder.employee}"></span></p>
                <p class="card-title"><b>Street Number:</b> <span class="font-italic" th:text="${workorder.streetNumber}"></span></p>
                <p class="card-text"><b>Street Name:</b> <span th:text="${workorder.streetName}"></span></p>
                <p class="card-text"><b>Zip Code:</b> <span th:text="${workorder.zipCode}"></span></p>
                <ul class="nav nav-pills justify-content-center mt-auto form-group">
                    <li class="nav-item font-weight-bold w-50"><a th:href="@{'/work-order/' + ${workorder.id} + '/edit'}" class="nav-link">Edit Work Order</a></li>
                    <li class="nav-item font-weight-bold w-50"><a th:href="@{'/workorders/'}" class="nav-link">All Work Orders</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>